body
{
    /*background-size: 1100px;*/
	/*background: #f4da84;*/
	font-size: 0.8em;
    font-family: Arial, Helvetica, Sans-serif;
	margin: 0 0 0 75px;
	padding: 0;
	color: #333;
    width: 1100px;
    /*-o-background-size: auto;*/
    background-color: #F8F8F8;

}
p
{
	clear:both
}
a
{
    color: #004848;
	text-decoration: none;

}
a:hover
{
	color: #007878;
	text-decoration: underline;

}
ul,li
{
	margin:0;
	padding:0;
	list-style-type:none;
}

#topline{
    background-color: #FFFFFF;
    height: 25px;
    /*border-radius: 4px;*/
    padding: 5px;
    border-bottom: 5px;
    border-bottom-color: #ECECEC;
}

#header{
    background: url('../icons/header.jpg') no-repeat scroll 0px 2px transparent;
    /*background-color: #FFFFFF;*/
    height: 128px;
    border-radius: 4px;
    padding: 5px;
}
/*              FOOTER                  */
#footer{
    font-size: 0.9em;
    width: 1100px;
    height: 300px;
    background-color: #f3f3f3;
    -webkit-border-top-image:  url('../icons/footer-top.png') no-repeat scroll 0px 2px transparent;
    -moz-border-top-image:  url('../icons/footer-top.png') no-repeat scroll 0px 2px transparent;
    /*border-top-color:  url('../icons/footer-top.png') no-repeat scroll 0px 2px transparent;*/
    /*border-top: url('../icons/footer-top.png') no-repeat scroll 0px 2px transparent;*/
    /*border-top: 5px solid #009494 #007878;*/
    background-position: 0px -1371px;
    background-repeat: repeat-x;
    float: left;
    color: #004848;

}
#footer .column {
    float: left;
    /*padding: 6px;*/
    margin: 0 25px 0 11px;
}

#footer .column ul li{
    margin: 0 0 5px 15px;
}
#footer  span{
   float: right;
   margin: 20px 10px 0 0 ;
}

/*.input{*/
    /*float: right;*/
/*}*/
#logo{
    float: left;
    padding: 25px;
}

#search-form{
        padding-top: 45px;
        /*margin: 0 0 0 0;*/
    /*margin: ;*/
    border-color: #DDDDDD;
    border: 5px;
    /*border-radius: 4px;*/
    float: right;
    /*float: right;*/

}
#search-form .button{
        font-family: Ebrima;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #f0a848;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #f0a848;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#welcome-text{
    margin: 10px 10px 10px 10px;
    padding: 20px;
    background-color: #FFFFFF;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#main-catalog{
    width: 815px;
    height: 314px;
    float: left;
    border-top: 5px solid;
    border-top-color: #007878 !important;
    margin: 10px 15px 10px 10px;
    background-color: #FFFFFF !important;

}
#main-catalog h2{
    /*font:  'Trebuchet MS', Tempus, Calibri, Tempus;*/
    font-weight: bold;
    margin-left: 5px;
    padding-left: 32px;
    color: #F06018;
    height: 30px;
    padding-top: 2px;
}
#main-catalog li{
        font-size: 1em  ;
        font-family:  Ebrima;
        margin:  0 0 7px 15px;
        font-weight: bold;
        color: #007878;
}
#main-catalog h2.cons{background: url('../icons/consdesg.png') no-repeat scroll 0px 2px transparent;}
#main-catalog h2.mater{background: url('../icons/materequip.png') no-repeat scroll 0px 0px transparent;}
#main-catalog h2.busi{background: url('../icons/business.png') no-repeat scroll 0px 0px transparent;}
/*#main-catalog li{background: url('imgs/news.png') no-repeat scroll 0px -1px transparent;}*/
/*#main-catalog li{background: url('imgs/news.png') no-repeat scroll 0px -1px transparent;}*/
#main-catalog a{
        /*font: 1em 'Trebuchet MS', Tempus, Calibri, Tempus;*/
    font-weight: bold;
    /*margin-left: 10px;*/
    /*margin:  0 0 20px 15px;*/

    color: #007878;

}
#main-catalog  span{
    float: right;
    color: #F06018;
    font-weight: bold;
}
#main-catalog a.span{
    float: right;
    color: #F06018;
    font-weight: bold;
    margin: -13px 15px 0 0;
}
.upper-categories{
    width: 258px;
    height: 300px;
    float: left;
    margin: 0 0 0 12px;
    /*background-color: #FFFFFF !important;*/

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#enterpreneurship{
    width: 239px;
    float: left;
    border-top: 5px solid;
    margin: 10px 0 10px 10px;
    height: 314px;
    border-top-color: #F0A848 !important;
    background-color: #FFFFFF !important;
    color: #F0A848;

}
#enterpreneurship h2{
    color: #F06018;
    font-weight: bold;
    margin-left:10px;
    margin-bottom: 10px;
}
#enterpreneurship img {
    width: 20px;
    height: 20px;
}
#enterpreneurship li{
        font-size: 1em;
        font-family: Ebrima;
        margin:  0 0 0 15px;
        font-weight: bold;
        color: #007878;
        padding-left: 25px;
        padding-top: 9px;
        height: 31px;

}
#enterpreneurship li.region{background: url('../icons/region.png') no-repeat scroll 0px 2px transparent;}
#enterpreneurship li.formation{background: url('../icons/businessformation.png') no-repeat scroll 0px 2px transparent;}
#enterpreneurship li.investments{background: url('../icons/businessinvestment.png') no-repeat scroll 0px 2px transparent;}
#enterpreneurship li.market{background: url('../icons/marketresearc.png') no-repeat scroll 0px 2px transparent;}
#enterpreneurship li.regional{background: url('../icons/regionalpromotion.png') no-repeat scroll 0px 2px transparent;}
#enterpreneurship li.partners{background: url('../icons/partnersrearch.png') no-repeat scroll 0px 2px transparent;}
#enterpreneurship li.representative{background: url('../icons/office.png') no-repeat scroll 0px 2px transparent;}
#enterpreneurship li.ready{background: url('../icons/readybusiness.png') no-repeat scroll 0px 2px transparent;}

#enterpreneurship a{
    /*font: 1em 'Trebuchet MS', Tempus, Calibri, Tempus;*/
    /*font-weight: bold;*/
    margin-left: 10px;
    /*margin:  0 0 0 15px;*/

    color: #007878;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#flag-region-select{
    /*width: 1100px;*/
    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-color: #FFFFFF;
    float: left;
}
#flag-region-select li{
    float: left;
    width: 86px;

}
#flag-region-select li a{
        float: left !important;
    /*padding: 20px;*/
        /*font: 1em 'Trebuchet MS', Tempus, Calibri, Tempus;*/
        margin:  0 0 -7px 15px;
        font-weight: bold;
        color: #8c8c8c;
        padding-left:45px;
        height: 31px;
        padding-top: 5px;

        /*display: inline;*/

}
/*#flag-region-select li a {*/
            /*display: inline-block;*/

            /*color: #9D9D9D;*/

/*}*/
#flag-region-select a.aut{background: url('../icons/flags/aut.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.aze{background: url('../icons/flags/aze.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.bel{background: url('../icons/flags/bel.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.bgr{background: url('../icons/flags/bul.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.blr{background: url('../icons/flags/blr.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.che{background: url('../icons/flags/swi.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.cze{background: url('../icons/flags/cze.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.deu{background: url('../icons/flags/ger.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.spa{background: url('../icons/flags/spa.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.fin{background: url('../icons/flags/fin.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.fra{background: url('../icons/flags/fra.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.gbr{background: url('../icons/flags/gbr.png') no-repeat scroll 0px 0px transparent;}  /**/
#flag-region-select a.gre{background: url('../icons/flags/gre.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.hun{background: url('../icons/flags/hun.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.ire{background: url('../icons/flags/ire.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.ita{background: url('../icons/flags/ita.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.kaz{background: url('../icons/flags/kaz.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.nor{background: url('../icons/flags/nor.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.pol{background: url('../icons/flags/pol.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.rou{background: url('../icons/flags/rou.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.rus{background: url('../icons/flags/rus.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.swe{background: url('../icons/flags/swe.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.tur{background: url('../icons/flags/tur.png') no-repeat scroll 0px 0px transparent;}
#flag-region-select a.ukr{background: url('../icons/flags/ukr.png') no-repeat scroll 0px 0px transparent;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#main-news{
    height: 310px;
    width: 340px;
    margin: 0 20px 0 10px;
    /*margin-left: 20px;*/
    float: left;
    background-color: #FFFFFF;

}
#main-news h2{
    color: #7E7E7E;
    font-weight: bold;
    margin-left:10px;
    margin-bottom: 10px;
}
#main-news .news{

    margin: 0 5px 0 20px;

}
#main-news .news .date{
    font-size: 0.8em;
    color: #8D8E8E;
    font-weight: bold;
    margin: 5px 0 5px 0;
}
#main-news .news .title{
    color: #004848;
    font-size: 0.9em;


}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#main-exhibitions{
    height: 310px;
    width: 340px;
    float: left;
    margin: 0 20px 0 10px;
    /*margin-left: 20px;*/
    background-color: #FFFFFF;
    float: left;


}
#main-exhibitions h2{
    color: #7E7E7E;
    font-weight: bold;
    margin-left:10px;
    margin-bottom: 10px;
}

#main-exhibitions .exhibition{
    float: left;
    margin: 0 5px 15px 20px;
    height: 75px;

}
#main-exhibitions .exhibition .image{
    float: left;
    width: 85px;
    height: 60px;
    text-align: center;

}
#main-exhibitions .exhibition .image img{
    max-height: 85px;
    max-width: 60px;

}
#main-exhibitions .exhibition .name{
    font-size: 0.9em;
    color: #8D8E8E;
    font-weight: bold;
    margin: 3px 0 10px 0;
    width:300px;
}
#main-exhibitions .exhibition .text{
    color: #8D8E8E;
    font-size: 0.9em;


}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#main-publications{
    height: 310px;
    width: 340px;
    margin: 0 0 0 10px;
    float: left;
    background-color: #FFFFFF;

}
#main-publications  h2{
    color: #7E7E7E;
    font-weight: bold;
    margin-left:10px;
    margin-bottom: 10px;
}

#main-publications .publication{
    float: left;
    margin: 0 5px 15px 20px;
    height: 75px;

}

#main-publications .publication .image{
  float: left;
    width: 85px;
    height: 60px;
    text-align: center;
}
#main-publications .publication .image img{
    max-height: 85px;
    max-width: 60px;
}
#main-publications .publication .name{
 font-size: 0.9em;
    color: #8D8E8E;
    font-weight: bold;
    margin: 12px 0 10px 0;
    width:300px;


}
/*         Enterpreneurship    */

#main-enterpreneurship{
    width: 1080px;
    margin: 10px 10px 10px 10px;

    float: left;
    border-top: 5px solid;
    border-top-color: #F0A848;
    background-color: #FFFFFF;
}
#main-enterpreneurship h2{
    color: #F06018;
    padding-left: 10px;

}

#main-enterpreneurship .block-content{
    font-family: Ebrima;
    float: left;
    width: 268px;
    height: 220px;
    border-right: 2px solid #F8F8F8;
}
#main-enterpreneurship h3{
    background-color: #d7d7d7;
    color: #007878;
    /*width: ;*/
    height: 35px;
    margin: 0 0 0 0;
    padding-left: 45px;

}
#main-enterpreneurship h3.regionchoose{background: url('../icons/region.png') no-repeat scroll 15px 6px transparent; background-color: #F8F8F8; padding-top: 9px;}
#main-enterpreneurship h3.formation{background: url('../icons/businessformation.png') no-repeat scroll 15px 6px transparent;background-color: #F8F8F8;padding-top: 9px;}
#main-enterpreneurship h3.investments{background: url('../icons/businessinvestment.png') no-repeat scroll 15px 6px transparent;background-color: #F8F8F8;padding-top: 9px;}
#main-enterpreneurship h3.market{background: url('../icons/marketresearc.png') no-repeat scroll 15px 6px transparent;background-color: #F8F8F8;padding-top: 9px;}
#main-enterpreneurship h3.regional{background: url('../icons/regionalpromotion.png') no-repeat scroll 15px 6px transparent;background-color: #F8F8F8;padding-top: 9px;}
#main-enterpreneurship h3.partners{background: url('../icons/partnersrearch.png') no-repeat scroll 15px 6px transparent;background-color: #F8F8F8;padding-top: 9px;}
#main-enterpreneurship h3.representative{background: url('../icons/office.png') no-repeat scroll 15px 6px transparent;background-color: #F8F8F8;padding-top: 9px;}
#main-enterpreneurship h3.ready{background: url('../icons/readybusiness.png') no-repeat scroll 15px 6px transparent;background-color: #F8F8F8;padding-top: 9px;}

#main-enterpreneurship li{
    font-size: 0.85em;

}

#main-enterpreneurship  a {
    padding-left: 40px;
      height: 45px;
        display: block;
        float: left;

}

#main-enterpreneurship li a.book{background: url('../icons/book.png') no-repeat scroll 15px 8px transparent;padding-top: 4px;}
#main-enterpreneurship li a.site{background: url('../icons/sites.png') no-repeat scroll 15px 4px transparent;padding-top: 0px;}
#main-enterpreneurship li a.company{background: url('../icons/company.png') no-repeat scroll 15px 8px transparent;padding-top: 4px;}
#main-enterpreneurship li a.publication{background: url('../icons/publications.png') no-repeat scroll 15px 4px transparent;padding-top: 0px;}

/*MAIN MAP*/
#main-map{
    background-color: #FFFFFF;
    width: 705px;
    height: 445px;
    margin: 10px 10px 10px 10px;
    float: left;


}

#main-map h2{
    color: #7E7E7E;
    font-weight: bold;
    margin-left:10px;
    margin-bottom: 10px;
}


/*          Problems        */
#problems {
    background-color: #FFFFFF;
    width: 350px;
    height: 445px;
    margin: 10px 10px 10px 10px;
    float: left;
}

#problems h2{
    color: #7E7E7E;
    font-weight: bold;
    margin-left:10px;
    margin-bottom: 10px;
}


#problems .problem{
    float: left;
    margin: 0 5px 15px 15px;
    height: 75px;

}
/*#problems .problem a{*/
    /*display: block;*/
/*}*/

#problems .problem .image{
  float: left;
    width: 85px;
    height: 60px;
    text-align: center;
}

#problems .problem .image img{
    max-height: 85px;
    max-width: 60px;
}
#problems .problem .name{
    font-size: 0.9em;
    font-weight: bold;
    margin: 0px 0 10px 0;
    width:300px;

}
/*Top Companies*/
#top-companies{
    background-color: #FFFFFF;
    width: 245px;
    height: 310px;
    margin: 10px 31px 10px 10px;
    float: left;
}
#top-companies h2{
    background: url('../icons/top-companies.png') no-repeat scroll 15px 8px transparent;
    background-position: right;
    /*padding-top: 4px;*/
    color: #7E7E7E;
    font-weight: bold;
    height: 45px;
    margin: 0px 15px 0 11px;
    padding-top: 10px;
}
#top-companies li a.red{background: url('../icons/red.png') no-repeat scroll 20px 9px transparent;
    padding-top: 5px;
    padding-left: 32px;
    float: left;
    padding-right: 5px;
    width: 220px;

}

/*New Companies*/
#new-companies{
    background-color: #FFFFFF;
    width: 245px;
    height: 310px;
    margin: 10px 31px 10px 0px;
    float: left;
}
#new-companies  h2{
    background: url('../icons/new-companies.png') no-repeat scroll 15px 8px transparent;
     background-position: right;
    /*padding-top: 4px;*/
    color: #7E7E7E;
    font-weight: bold;
    height: 33px;
    margin: 0px 15px 0 11px;
    padding-top: 10px;
}
#new-companies li a.orange{background: url('../icons/orange.png') no-repeat scroll 20px 9px transparent;
    padding-top: 5px;
    padding-left: 32px;
    float: left;
    padding-right: 5px;
    width: 220px;
}

/*Statistics*/
#statistics{
    background-color: #FFFFFF;
    width: 245px;
    height: 310px;
    margin: 10px 31px 10px 0px;
    float: left;
    color: #7E7E7E;

}
#statistics  h2{
    background: url('../icons/statistics.png') no-repeat scroll 15px 8px transparent;
   background-position: right;
    /*padding-top: 4px;*/
    font-weight: bold;
    height: 30px;
    margin: 0px 15px 0 11px;
    padding-top: 10px;

}

#statistics li{
    padding-left: 40px;
    height: 25px;
    padding-right: 30px;
}
#statistics li span{
    float: right;
}
#statistics li.company{background: url('../icons/company.png') no-repeat scroll 15px 9px transparent;padding-top: 10px;}
#statistics li.categories{background: url('../icons/categories.png') no-repeat scroll 15px 2px transparent;padding-top: 5px;}
#statistics li.info{background: url('../icons/publications.png') no-repeat scroll 15px 2px transparent;padding-top: 5px;}

#statistics p{
    font-family: Ebrima;
    margin: 30px 50px 0 20px;
}
/*Authorization*/
#authorization {
    background-color: #FFFFFF;
    width: 245px;
    height: 310px;
    margin: 10px 0 10px 1px;
    float: left;
}
#authorization h2{
    background: url('../icons/authorization.png') no-repeat scroll 15px 8px transparent;
    background-position: right;
    /*padding-top: 4px;*/
    color: #7E7E7E;
    font-weight: bold;
    height: 30px;
    margin: 0 15px 0 11px;
    padding-top: 10px;
}

#authorization p {
    font-family: Ebrima;
    margin: 0 15px 0 15px ;
}
#authorization .input {
    border: 2px solid #f06018;
    border-radius: 3px;


}
#authorization .button {
    font-family: Ebrima;
    padding: 8px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #f06018;
}

/*Categories*/
#categories {
    background-color: #FFFFFF;
    width: 840px;
    font-family: Ebrima;
    padding: 10px;
    margin: 15px 0 15px 0;
    float: left;

}

#categories .category {
    width: 310px;
    margin: 15px 60px 15px 20px;
    float: left;
    border:2px solid red;

}
#categories .category h3{
        background-color: #F3F3F3;
        padding: 5px;
}
#categories .downcategory{
    color: #004848;
        float: left;

}
#categories .downcategory li{
    /*list-style-type: circle;*/
    margin: 0 0 3px 10px;
    display: block;
    text-decoration: none;
}

#cat-left{
    width: 240px;
    background-color: #FFFFFF;
    margin: 5px 5px 5px 5px;
    float: left;
    padding: 5px;
}

#cat-company{
    width: 855px;
    /*background-color: #f8f8f8;*/
    /*margin: 5px 5px 5px 5px;*/
    /*float: left;*/
    /*padding: 5px;*/
}
#cat-company .companyl{
    /*border: 1px solid red;*/
    width: 405px;
    height: 265px;
    margin: 5px 15px 15px 0px;
    float: left;
    padding-top: 10px;
    background-color: #ffffff;
-moz-box-shadow: 1px 1px 1px #adadad;
-webkit-box-shadow: 1px 1px 1px #adadad;
box-shadow: 1px 1px 1px #adadad;
}
#cat-company .companyr{
    /*border: 1px solid red;*/
    width: 405px;
    height: 265px;
    margin: 5px 0 15px 15px;
    float: left;
    padding-top: 10px;
    background-color: #ffffff;
-moz-box-shadow: 1px 1px 1px #adadad;
-webkit-box-shadow: 1px 1px 1px #adadad;
box-shadow: 1px 1px 1px #adadad;

}
#cat-company  h3{
    color: #007878;
    margin: 0 0 15px 10px;
}
#cat-company .image{
        float: left;
    margin: 0 0 0 15px;
}
#cat-company .image img{
    width: 90px;
    height: 90px;
}
#cat-company  p{
    margin: 0 0 0 0;
    padding:10px;
}
#cat-company  .comp-detail{
    float: left;
    margin: 0 0 0 30px;
}
#cat-company  .comp-detail li {
    height: 35px;
    padding:4px;
}
#cat-company  li.comp_type{background: url('../icons/comp_type.png') no-repeat scroll 0 4px transparent;padding-left: 30px}
#cat-company  li.location{background: url('../icons/location.png') no-repeat scroll 0  0 transparent;padding-left: 30px}
#cat-company  li.www{background: url('../icons/www.png') no-repeat scroll 0 0 transparent; padding-left: 30px}

#cat-right{
    width: 230px;
    background-color: #FFFFFF;
    margin: 5px 5px 5px 5px;
    float: left;
    padding: 5px;
}

/*.btn-style{*/
    /*border : solid 1px #0088cc;*/
    /*border-radius : 6px;*/
    /*moz-border-radius : 6px;*/
    /*-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);*/
    /*-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);*/
    /*box-shadow : 0px 0px 2px rgba(0,0,0,1.0);*/
    /*font-size : 18px;*/
    /*color : #696869;*/
    /*padding : 1px 17px;*/
    /*background : #eeeeee;*/
    /*background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(49%,#eeeeee), color-stop(72%,#cccccc), color-stop(100%,#eeeeee));*/
    /*background : -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 49%, #cccccc 72%, #eeeeee 100%);*/
    /*background : -webkit-linear-gradient(top, #eeeeee 0%, #eeeeee 49%, #cccccc 72%, #eeeeee 100%);*/
    /*background : -o-linear-gradient(top, #eeeeee 0%, #eeeeee 49%, #cccccc 72%, #eeeeee 100%);*/
    /*background : -ms-linear-gradient(top, #eeeeee 0%, #eeeeee 49%, #cccccc 72%, #eeeeee 100%);*/
    /*background : linear-gradient(top, #eeeeee 0%, #eeeeee 49%, #cccccc 72%, #eeeeee 100%);*/
    /*filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );*/

/*}*/

#popup {
    text-decoration: none;
    width: 700px;
}

/*#filter{*/
    /*position: fixed;*/
    /*z-index: 1030;*/
    /*margin: 0;*/
    /*background-color: #563d7c;*/
    /*color: #CCFF33;*/
    /*border-width: 0;*/
    /*text-shadow: 0 -1px 0 rgba(0,0,0,.15);*/
    /*border-bottom-width: 1px;*/
    /*border-bottom-color: #231c6b;*/
    /*right: 0;*/
    /*left: 0;*/

/*}*/

#filter {
    border-radius: 2px;
    margin: 15px 0 15px 0;
    float: left;

}

.filter{
    border-bottom: 1px solid #e8e8e8;
    width: 840px;
    background-color: #FFFFFF;
    z-index: 20;

}
#filter .category {
    float: left;
    width: 100%;
    margin: 15px 15px 0 15px;
}
#filter .category h2{
    color: #004848;
    margin: 15px 0px 5px 10px;
    float: left;
    width: 470px;
}

#filter .category h4{
    float: left;

}
#filter .type-country{
    width: 100%;
    float: left;
    height: 90px;


}

.type-country .company-type{
    /*margin: 85px 10px 0 15px;*/
    /*height: 75px;*/
    width: 500px;
    float: left;
    padding: 5px;

}
.type-country h4{
    color: #656565;
    margin: 10px 0 10px 20px;
}
.type-country .company-type a{
    margin: 0 10px 0 30px;
    color: #007878;
}
.type-country .company-type h4{
    color: #656565;
    margin: 10px 0 10px 20px;
}
.type-country .country{

    float: left;
}
.type-country .country h4{
    color: #656565;
    margin: 10px 0 10px -5px;
}
.filter .sort{
    width: 100%;
    float: left;
    border-top: 1px solid #efefef;
    height: 45px;
    padding: 15px;
}
.filter .sort a{
    margin: 0 0 0 15px;
    color: #007878;
}

.filter .sortby{
    float: left;
    background-color: #efefef;
    width: 100%;
}
.filter .sortby h4 {
    color: #656565;
    margin: 10px 25px 10px 20px;
    float: left;

}
.filter .sortby a{
    color: #007878;
    padding: 10px;
    float: left;
}

#right-bar {
    border-top: 5px solid #F2A650;
    background-color: #FFFFFF;
    width: 240px;
    float: right;
    margin: 15px 0 5px 20px;

}
#right-bar h2{
    color: #f06018;
    margin: 10px 0 5px 15px;
}
#right-bar li {
    /*margin: 5px 0 10px 25px;*/
    height: 30px;
    padding-top: 3px;
   font-size: 1em;
    margin: 0 0 10px 25px;
    font-weight: bold;
        /*color: #007878;*/
    padding-left: 35px;
        /*padding-top: 9px;*/
        /*height: 31px;*/
}
#right-bar li.publication{background: url('../icons/publications.png') no-repeat scroll 0 3px transparent; }
#right-bar li.sites{background: url('../icons/sites.png') no-repeat scroll 0 0 transparent; }

/*#right-bar li{*/
        /*font-size: 1em;*/
        /*font-family: Ebrima;*/
        /*margin:  0 0 -7px 15px;*/
        /*font-weight: bold;*/
        /*color: #007878;*/
        /*padding-left: 25px;*/
        /*padding-top: 9px;*/
        /*height: 31px;*/

/*}*/
#right-bar li.region{background: url('../icons/region.png') no-repeat scroll 0px 2px transparent;}
#right-bar li.formation{background: url('../icons/businessformation.png') no-repeat scroll 0px 2px transparent;}
#right-bar li.investments{background: url('../icons/businessinvestment.png') no-repeat scroll 0px 2px transparent;}
#right-bar li.market{background: url('../icons/marketresearc.png') no-repeat scroll 0px 2px transparent;}
#right-bar li.regional{background: url('../icons/regionalpromotion.png') no-repeat scroll 0px 2px transparent;}
#right-bar li.partners{background: url('../icons/partnersrearch.png') no-repeat scroll 0px 2px transparent;}
#right-bar li.representative{background: url('../icons/office.png') no-repeat scroll 0px 2px transparent;}
#right-bar li.ready{background: url('../icons/readybusiness.png') no-repeat scroll 0px 2px transparent;}


/*Enterprenuership stage pages CSS*/
#stage  {
    background-color: #FFFFFF;
    margin: 15px 0 10px 0;
    float: left;
    padding: 10px;
    width: 825px;
}

#stage h1 {
    margin: 2px 5px 1px 0;
}
#stage .stage-content {
    float: left;
    width: 300px;
    height: 200px;
    margin: 0px 0px 0px 50px;


}
#stage .stage-content ul{
    float: left;
}
#stage .stage-content li{
    float: left;
    color: #acb0ad;
    width: 300px;
    margin: 5px  0 0 15px;
    list-style: disc;

}
#stage .stage-content h3{
    background-color:#F4F9F5;
    height: 40px;
    border: 1px solid #DEEAE0;
    padding: 10px;
}

#stage .stage-content a.view{
    float: right;
    margin: 10px 10px 0 0;

}
.fixed-dialog{
  position: fixed;
  top: 50px;
  left: 50px;
}
/*All Publications*/
#all-publications{
    background-color: #FFFFFF;
    width: 815px;
    padding: 5px;
    float: left;
    margin: 15px 0 10px 0;
    font-family: Ebrima;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}
#all-publications .publication{
    border-bottom: 2px solid #ebebeb;
    float: left;
    margin: 5px 5px 5px 5px;

}
#all-publications .ui{
     -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#all-publications    h2{    margin: 4px;
    font-weight: bold;
}
#all-publications .text{
    margin: 20px 10px 5px 215px;

}
#all-publications .image {
    float: left;
    width: 200px;
    height: 180px;
    text-align: center;
    margin: 3px;
}
#all-publications .publication span {
    font-weight: bold;
}
#all-publications  .image  img{
    max-width: 200px;
    max-height: 180px;
}
/*  Category Publications*/
#c-publications {
    background-color: #FFFFFF;
    width: 815px;
    padding: 5px;
    float: left;
    margin: 15px 0 10px 0;
    font-family: Ebrima;
}
#c-publications h4.right{float: right;margin: 5px}
#c-publications .c-publication{
    border-bottom: 2px solid #ebebeb;
    float: left;
    margin: 5px 5px 5px 5px;

}
#c-publications h3{
    margin: 4px;
    font-weight: bold;

}
#c-publications .text{
    margin: 20px 10px 5px 215px;

}
#c-publications .image {
    float: left;
    width: 200px;
    height: 180px;
    text-align: center;
    margin: 3px;


}
#c-publications .image img{
  max-width: 200px;
    max-height: 180px;
}
#c-publications .c-publication span {
    font-weight: bold;
}

/*News*/

#all-news{
    background-color: #FFFFFF;
    width: 815px;
    padding: 5px;
    float: left;
    margin: 15px 0 10px 0;
    font-family: Ebrima;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}
#all-news .news{
    border-bottom: 2px solid #ebebeb;
    float: left;
    margin: 5px 5px 5px 5px;

}
#all-news .ui{
     -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#all-news    h2{    margin: 4px;
    font-weight: bold;
    color: #007878;
}
#all-news .text{
    margin: 20px 10px 5px 215px;

}
#all-news .image {
    float: left;
    width: 200px;
    height: 180px;
    text-align: center;
    margin: 3px;
}
#all-news .news span {
    font-weight: bold;
}
#all-news  .image  img{
    max-width: 200px;
    max-height: 180px;
}
#all-news h4.right{float: right;margin: 5px}


/*Company Detail page*/
#company-detail {
    background-color: #FFFFFF;
    width: 815px;
    padding: 5px;
    float: left;
    margin: 15px 0 10px 0;
    font-family: Ebrima;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	 box-shadow: none;
}
#company-detail h1{
    color: #047E81;
}
#company-detail h2{
    color: #047E81;
    margin-bottom: 1px;
}
#company-detail .right{
    float: right;
    margin-right: 10px
}
#company-detail .main-detail{
   border-bottom: 2px solid #ebebeb;
   width: 800px;
   float: left;
   margin: 5px 5px 5px 10px;
}
#company-detail .main-detail ul{
    margin-left: 10px;
}
#company-detail .main-detail li {
    height: 35px;

}

#company-detail .main-detail li.comp_type{background: url('../icons/comp_type.png') no-repeat scroll 0 0 transparent;padding-left: 30px}
#company-detail .main-detail li.address{background: url('../icons/address.png') no-repeat scroll 0 0 transparent;padding-left: 30px}
#company-detail .main-detail li.phone{background: url('../icons/phone.png') no-repeat scroll 0 0 transparent;padding-left: 30px}
#company-detail .main-detail li.fax{background: url('../icons/fax.png') no-repeat scroll 0 0 transparent;padding-left: 30px}
#company-detail .main-detail li.site{background: url('../icons/www.png') no-repeat scroll 0 0    transparent;padding-left: 30px}

#company-detail .main-detail .image{

    float: right;
    width: 200px;
    height: 180px;
    text-align: center;
    margin: 3px;

}
#company-detail .main-detail .image img{
       max-width: 200px;
    max-height: 180px;
}

#company-detail .more {
	display: none;
	/*border-top: 1px solid #666;*/
	/*border-bottom: 1px solid #666; */
    margin: 10px;

}
#company-detail .main-detail .about{
    margin: 0 0 0 10px;
}
#company-detail a.showLink, a.hideLink {
    float: right;
	text-decoration: none;
	color: #007878;
	padding-left: 8px;
	/*background: transparent url('../icons/down.gif') no-repeat left; */
}
#company-detail a.hideLink {
	/*background: transparent url('../icons/up.gif') no-repeat left;*/
}
#company-detail a.showLink:hover, a.hideLink:hover {
	border-bottom: 1px dotted #007878; }


/* Product & Services*/

#company-detail .main-detail .product{
    width: 350px;
    float: left;
}

#company-detail .main-detail .product  a.name{
    color: #C80000;
    height: 5px;
}
#company-detail .main-detail .product .image {

    float: left;
    width: 80px;
    height: 100px;
    text-align: center;
    margin: 3px;
}

#company-detail .main-detail .product .image img{
       max-width: 80px;
    max-height: 100px;
}

/*              Partners and Clients*/
#company-detail .main-detail .partner img{
       max-width: 120px;
    max-height: 110px;
}

#company-detail .main-detail .partner{

    float: left;
    width: 120px;
    height: 110px;
    text-align: center;
    margin: 3px;

}
#company-detail .main-detail .client img{
       max-width: 120px;
    max-height: 110px;
}

#company-detail .main-detail .client{

    float: left;
    width: 120px;
    height: 110px;
    text-align: center;
    margin: 3px;

}
/*      Employees    */

#company-detail .main-detail .employee{
    width: 265px;
    float: left;
}

#company-detail .main-detail .employee  a.name{
    /*color: #C80000;*/
    height: 5px;
}
#company-detail .main-detail .employee .image {

    float: left;
    width: 80px;
    height: 100px;
    text-align: center;
    margin: 3px 10px 3px 3px;
}

#company-detail .main-detail .employee .image img{
       max-width: 80px;
    max-height: 100px;
}

/*      Projects    */

#company-detail .main-detail .project{
    width: 350px;
    float: left;
}

#company-detail .main-detail .project  a.name{
    color: #C80000;
    height: 5px;
}
#company-detail .main-detail .project .image {

    float: left;
    width: 80px;
    height: 100px;
    text-align: center;
    margin: 3px;
}

#company-detail .main-detail .project .image img{
       max-width: 80px;
    max-height: 100px;
}

/*      Partnership     */
#company-detail .main-detail .partnership{
    float: left;
    margin:0 0 0 10px ;

}
#company-detail .main-detail .partnership  a.name{
    color: #C80000;
    height: 5px;
}
#company-detail .main-detail .partnership  a.download{
    color: #007878;
    float: right;
    height: 30px;
    margin-right: 20px;
    background: url('../icons/download.png') no-repeat scroll 3px 6px  transparent;
    padding-left: 30px;
    padding-top: 5px;
}
/*#company-detail .main-detail .partnership span{*/
    	/*color: #007878;*/

/*}*/
#company-detail .main-detail  h3 {
    /*height: 7px;*/
    margin: 0;
}
#company-detail .main-detail h4{
    margin-left:  10px;
}

/*          Exhibitions*/
/*All Publications*/
#all-exhibitions{
    background-color: #FFFFFF;
    width: 815px;
    padding: 5px;
    float: left;
    margin: 15px 0 10px 0;
    font-family: Ebrima;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}
#all-exhibitions .exhibition{
    border-bottom: 2px solid #ebebeb;
    float: left;
    margin: 5px 5px 5px 5px;

}
#all-exhibitions .ui{
     -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#all-exhibitions    h2{
    color: #007878;
    margin: 4px;
    font-weight: bold;
}
#all-exhibitions .text{
    margin: 20px 10px 5px 215px;

}
#all-exhibitions .text span{
    color: #007878;
    font-weight: bold;
}
#all-exhibitions .image {
    float: left;
    width: 200px;
    height: 180px;
    text-align: center;
    margin: 3px;
}
#all-exhibitions .exhibition span {
    font-weight: bold;
}
#all-exhibitions  .image  img{
    max-width: 200px;
    max-height: 180px;
}
/*      Exhibition Detail       */
/*  Category Publications*/
#exhibition-details {
    background-color: #FFFFFF;
    width: 815px;
    padding: 5px;
    float: left;
    margin: 15px 0 10px 0;
    font-family: Ebrima;
}
#exhibition-details h4.right{float: right;margin: 5px}
#exhibition-details .exhibition-detail{
    border-bottom: 2px solid #ebebeb;
    float: left;
    margin: 5px 5px 5px 5px;
    width: 795px;

}
#exhibition-details h2{
    margin: 4px;
    color: #007878;
    font-weight: bold;

}
#exhibition-details .exhibition-detail p{
    margin-left: 15px;
}
#exhibition-details .text{
    margin: 0 10px 5px 215px;

}
#exhibition-details .image {
    float: left;
    width: 200px;
    height: 180px;
    text-align: center;
    margin: 3px;


}
#exhibition-details .image img{
  max-width: 200px;
    max-height: 180px;
}
#exhibition-details .exhibition-detail span {
    font-weight: bold;

}

/*          REGISTER        FORM            */
#register-form{
    width: 840px;
    margin: 15px 0 15px 0;
    float: left;
}
/*          Change Password                     */
#change-password {
    float: left;
    /*padding: 5px;*/
    /*background-color: #FFFFFF;*/
    width: 840px;
    margin: 15px 0 15px 0;
}

#account-company {

    width: 835px;
    background-color: #FFFFFF;
    float: left;
    margin: 15px 0 15px 0;
    padding: 5px;
    font-family: Ebrima;
}

#account-company .company-section{
    margin: 10px;
}