{% load i18n %}

 <div id="right-authorization">
            {% if user.is_authenticated %}

           <h3>{% trans 'Welcome' %} <br> {{ user.company.name }}</h3>
{#                <a class="ui green icon button" href="{% url 'company_account:user_logout' %}">{% trans 'Log out' %}</a>#}
                <a class="large ui orange button center" href="{% url 'company_account:company_page' %}">{% trans 'Account' %}</a><br><br>
                <a class="large ui orange button center" href="{% url 'company_account:user_logout' %}">{% trans 'Log out' %}</a>

  {% endif %}
    </div>