{% extends "base.html" %}
{% load i18n %}

<title>{% block title %}{% trans 'Pasword Changing' %}{% endblock %}</title>

{% block content %}
<div id="change-password">
    <div class="ui form segment">
        <h1> {% trans 'Change Password' %}</h1>

        <form action="{% url 'company_account:password_change'  %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div {% if field.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ field.errors.0 }}
                        </div>
                  {% endif %}
                </div>
            {% endfor %}

            <button class="ui blue button right">{% trans 'Change Password' %}</button>

        </form>
   </div>
   </div>
    <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>

{% endblock %}