{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ company.name }}{% endblock %}

{% block content %}

    <div id="account-company">
    <h1>{{ company.name }}</h1> <a  class="mini ui blue button right" href="{% url 'company_account:edit_company' %}">{% trans 'Edit' %}</a>
      <div class="main-detail">
         <div class="image">
            <img src="{{ MEDIA_URL }}{{ company.logo }}">
        </div>
        <ul>

            <li class="comp_type">{% for type in company.comp_type.all  %}{{ type.name }} ; {% endfor %}</li>
            <li class="address">{{ company.address }}</li>
            <li class="phone">{{ company.phone }}</li>
            <li class="fax">{{ company.fax }}</li>
            <li class="site"><a href="{{ company.url }}" target="_blank">{{ company.url }}</a> </li>
        </ul>

    </div>
{#    {% for project in company_projects %}#}
{#        {{ project.name }}#}
{##}
{#    {% endfor %}#}

    <div class="company-section">
        <h2>{% trans 'Company Profile' %}</h2>
        <a  class="mini ui blue button right" href="{% url 'company_account:edit_profile' %}">{% trans 'Edit Profile' %}</a>
        <h4>{% trans 'Mission' %}</h4>{{ company_profile.mission|striptags|safe }}
        <h4>{% trans 'History' %}</h4>{{ company_profile.history|striptags|safe }}
    </div>

     <div class="company-section">
    <table class="ui table segment">
    <thead>
    <h2>{% trans 'Capacity' %}</h2><a class="mini ui blue button right" href="{% url 'company_account:edit_capacity' %}">{% trans 'Edit Capacity' %}</a>
            <tr>
                <th class="text-left">{% trans 'Manufempl' %}</th>
                <th class="text-left">{% trans 'Manageempl' %}</th>
                <th class="text-left">{% trans 'Volume' %}</th>
                <th class="text-left">{% trans 'Production Space' %}</th>
            </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ company_capacity.manufempl }}</td>
            <td>{{ company_capacity.manageempl }}</td>
            <td>{{ company_capacity.volume }}</td>
            <td>{{ company_capacity.production_space }}</td>
        </tr>
    </tbody>
</table>
    </div>

    <div class="company-section">
    <table class="ui table segment">
    <thead>
    <h2>{% trans 'Partners' %}</h2><a class="mini ui blue button right" href="{% url 'company_account:add_partner' %}">{% trans 'Add New Partner' %}</a>
            <tr>
                <th class="text-left">{% trans 'Partner' %}</th>
                <th class="text-left">{% trans 'Partner Type' %}</th>
                <th class="text-left">{% trans 'Since' %}</th>
            </tr>
    </thead>

    <tbody>
    {% for partner in company_partners %}
        <tr>
            <td><a href="{% url 'company_account:edit_partner' id=partner.id %}">{{ partner.partner }} </a> </td>
            <td>{{ partner.partnertype }}</td>
            <td>{{ partner.since }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="company-section">
    <table class="ui table segment">
    <thead>
    <h2>{% trans 'Clients' %}</h2><a class="mini ui blue button right" href="{% url 'company_account:add_client' %}">{% trans 'Add New Client' %}</a>
            <tr>
                <th class="text-left">{% trans 'Client' %}</th>
                <th class="text-left">{% trans 'Product Service' %}</th>
                <th class="text-left">{% trans 'Since' %}</th>
            </tr>
    </thead>

    <tbody>
    {% for client in company_clients %}
        <tr>
            <td><a href="{% url 'company_account:edit_client' id=client.id %}">{{ client.client }} </a> </td>
            <td>{{ client.product_service }}</td>
            <td>{{ client.since }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

       <div class="company-section">
    <table class="ui table segment">
    <thead>
    <h2>{% trans 'Employees' %}</h2><a class="mini ui blue button right" href="{% url 'company_account:add_employee' %}">{% trans 'Add New Employee' %}</a>
            <tr>
                <th class="text-left">{% trans 'FullName' %}</th>
                <th class="text-left">{% trans 'Position' %}</th>
                <th class="text-left">{% trans 'About' %}</th>
            </tr>
    </thead>

    <tbody>
    {% for employee in company_employees %}
        <tr>
            <td><a href="{% url 'company_account:edit_employee' id=employee.id %}">{{ employee.fullname }} </a> </td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.about|striptags|safe|truncatewords:20 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="company-section">
    <table class="ui table segment">
    <thead>
    <h2>{% trans 'Products' %}</h2><a class="mini ui blue button right" href="{% url 'company_account:add_product' %}">{% trans 'Add New Product' %}</a>
            <tr>
                <th class="text-left">{% trans 'Name' %}</th>
                <th class="text-left">{% trans 'Link' %}</th>
            </tr>
    </thead>

    <tbody>
    {% for product in company_products %}
        <tr>
            <td><a href="{% url 'company_account:edit_product' id=product.id %}">{{ product.name }} </a> </td>
            <td><a target="_blank" href="{{ product.link }}">{% trans 'Go to Site' %}</a> </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
    </div>

    <div class="company-section">
    <table class="ui table segment">
    <thead>
    <h2>{% trans 'Projects' %}</h2> <a class="mini ui blue button right" href="{% url 'company_account:add_project' %}">{% trans 'Add New Project' %}</a>
            <tr>
                <th class="text-left">{% trans 'Name' %}</th>
                <th class="text-left">{% trans 'Client' %}</th>
                <th class="text-left">{% trans 'Project type' %}</th>
                <th class="text-left">{% trans 'Role' %}</th>
                <th class="text-left">{% trans 'Begin date' %}</th>
                <th class="text-left">{% trans 'End Date' %}</th>
            </tr>
    </thead>

    <tbody>
    {% for project in company_projects %}
        <tr>
            <td><a href="{% url 'company_account:edit_project' id=project.id %}">{{ project.name }} </a> </td>
            <td>{{ project.client }}</td>
            <td>{{ project.project_type }}</td>
            <td>{{ project.role }} </td>
            <td>{{ project.begin_date }} </td>
            <td>{{ project.end_date }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>


    <div class="company-section">
    <table class="ui table segment">
    <thead>
        <h2>{% trans 'Partnerships' %}</h2> <a class="mini ui blue button right" href="{% url 'company_account:add_partnership' %}">{% trans 'Add New Partnership' %}</a>

            <tr>
                <th class="text-left">Name</th>
                <th class="text-left">File</th>
                <th class="text-left">Link</th>
            </tr>
    </thead>

    <tbody>
    {% for partnership in company_partnership %}
        <tr>
            <td><a href="{% url 'company_account:edit_partnership' id=partnership.id %}">{{ partnership.name }} </a> </td>
            <td><a target="_blank" href=" {{ partnership.file_name}}">{% trans 'Download File' %}</a></td>
            <td>{{ partnership.link }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

{#              Technology            #}
      <div class="company-section">
    <table class="ui table segment">
    <thead>
        <h2>{% trans 'Certificates' %}</h2> <a class="mini ui blue button right" href="{% url 'company_account:add_certificate' %}">{% trans 'Add New Certificate' %}</a>

            <tr>
                <th class="text-left">{% trans 'Name' %}</th>
                <th class="text-left">{% trans 'Certification Company' %}</th>
                <th class="text-left">{% trans 'Receive year' %}</th>
                <th class="text-left">{% trans 'Download File' %}</th>
            </tr>
    </thead>

    <tbody>
    {% for certificate in company_certificates %}
        <tr>
            <td><a href="{% url 'company_account:edit_certificate' id=certificate.id %}">{{ certificate.name }} </a> </td>
            <td>{{ certificate.certification_company }}</td>
            <td>{{ certificate.receive_year }}</td>
            <td><a target="_blank" href=" {{ certificate.filename}}">{% trans 'Download File' %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>


      <div class="company-section">
    <table class="ui table segment">
    <thead>
        <h2>{% trans 'Technologies' %}</h2> <a class="mini ui blue button right" href="{% url 'company_account:add_partnership' %}">{% trans 'Add New Technology' %}</a>

            <tr>
                <th class="text-left">{% trans 'Equipment' %}</th>
                <th class="text-left">{% trans 'IT' %}</th>
                <th class="text-left">{% trans 'Resanddev' %}</th>
            </tr>
    </thead>

    <tbody>
    {% for technology in company_technology %}
        <tr>
            <td><a href="{% url 'company_account:edit_technology' id=technology.id %}">{{ technology.equipment }} </a> </td>
            <td>{{ technology.it }}</td>
            <td>{{ technology.resanddev }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

</div>


<div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

</div>
{% endblock %}