{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Confirm Account' %} {% endblock %}
{% block content %}

   <h1>{% trans 'Confirm registration' %}</h1>

    <div>
        
        {% if success %}
            <p>{% trans 'successufully registered.' %}
                <a style="text-decoration: none; margin-left: 10px;" href="/{{ LANGUAGE_CODE }}">{% trans 'Sign in' %}</a>
            </p>


        {% elif has_account %}
            <p>{% trans 'You are already registered. Please' %}
                <a style="text-decoration: none; margin-left: 3px;" href="/{{ LANGUAGE_CODE }}">{% trans 'Sign in' %}</a>
            </p>
        {% elif expired %}
            <p>{% trans 'Registering failed. Register again.' %}</p>
         {% endif %}       
    </div>   

	
{% endblock %}
