{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Log in Partnership Portal' %} {% endblock %}
}
{% block content %}
    <h1>{% trans 'Log in Partnership Portal' %}</h1>
    <div class="ui two column middle aligned relaxed grid basic segment">
        <div class="column">
            <div class="ui form segment">
                <form action="{% url 'company_account:user_login' %}" method="post">
                    {% csrf_token %}
                    {% if req_url %}
                        <input type="hidden" name="next" value="{{ req_url }}" />
                    {% endif %}

                    <div {% if form.username.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.username.label_tag }}
                          <div class="ui left labeled icon input">
                              {{ form.username }}
                              <i class="user icon"></i>
                                  <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                  </div>
                          </div>
                          {% if form.username.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block; width:295px;">
                                    {{ form.username.errors.0 }}
                                </div>
                          {% endif %}
                    </div>
                    <div {% if form.password.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.password.label_tag }}
                          <div class="ui left labeled icon input">
                              {{ form.password }}
                              <i class="lock icon"></i>
                                  <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                  </div>
                          </div>
                          {% if form.password.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;width:295px;">
                                    {{ form.password.errors.0 }}
                                </div>
                          {% endif %}
                    </div>
                    <button style="margin-top: 8px;" class="ui blue submit button">{% trans 'Sign in' %}</button>
                </form>
            </div>
        </div>
        <div class="ui vertical divider">
            {% trans 'Or' %}
        </div>
        <div class="center aligned column">
            <a href="{% url 'company_account:registration' %}">
                <div class=" green ui labeled icon button">
                    <i class="signup icon"></i>
                    {% trans 'Sign Up  as Partner' %}
                </div>
            </a>

{#        </div>#}
{#        <div class="center aligned column">#}

            <a href="{% url 'company_account:user_registration' %}">
                <br>
                <div class=" green ui labeled icon button">
                    <i class="signup icon"></i>
                    {% trans 'Sign Up as User' %}
                </div>
            </a>
        </div>
    </div>



	
{% endblock %}