{% extends "base.html" %}
{% load i18n %}
  {% block title %}{% trans 'Profile Information' %} {% endblock %}
{% block content %}
    <h2>{% trans 'Your Profile' %}</h2>
    <div class="partner">
        {% if user.partner %}
            <img alt="" src="{{ MEDIA_URL }}{{partner.logo}}"/>
            <div class="actions">
                <a href="{% url 'company_account:profile_update' %}">
                    <div style="margin-bottom: 8px;" class=" green ui labeled icon button">
                        <i class="edit icon"></i>
                        {% trans 'Update data' %}
                    </div>
                </a><br/>
                <a href="{% url 'company_account:password_change' %}">
                    <div class=" green ui labeled icon button">
                        <i class="edit icon"></i>
                        {% trans 'Change Password' %}
                    </div>
                </a>

            </div>
        {% else %}
            <a href="{% url 'company_account:password_change' %}">
                <div class=" green ui labeled icon button">
                    <i class="edit icon"></i>
                    {% trans 'Change Password' %}
                </div>
            </a>
        {% endif %}
        <hr/>

        <div class="ui two column middle  relaxed grid basic segment">
        {% if user.partner %}
            <div class="column" style="font-size: 13px;">
                <h3> {% trans 'Company' %} </h3>
                <div class="label"> {% trans 'Company' %} </div><div > {% if partner.company %} {{ partner.company }}{% else %}...{% endif %} </div>
                <div class="label"> {% trans 'Email' %} </div><div> {{ partner.partner_email }} </div>
                <div class="label"> {% trans 'Country' %} </div><div > {% if partner.country %} {{ partner.country }}{% else %}...{% endif %} </div>
                <div class="label"> {% trans 'City' %} </div><div > {% if partner.city %} {{ partner.city }}{% else %}...{% endif %} </div>
                <div class="label"> {% trans 'ZIP code' %} </div><div > {% if partner.zipcode %} {{ partner.zipcode }}{% else %}...{% endif %} </div>
                <div class="label"> {% trans 'Address' %} </div><div >{% if partner.address %} {{ partner.address }}{% else %}...{% endif %} </div>
                <div class="label"> {% trans 'Phone' %} </div><div >{% if partner.phone %} {{ partner.phone }}{% else %}...{% endif %} </div>
                <div class="label"> {% trans 'Skype' %} </div><div > {% if partner.skype %} {{ partner.skype }}{% else %}...{% endif %} </div>
                <div class="label"> {% trans 'Fax' %} </div><div > {% if partner.fax %} {{ partner.fax }}{% else %}...{% endif %}</div>
                <div class="label"> {% trans 'Website' %} </div><div>{% if partner.website %} {{ partner.website }}{% else %}...{% endif %} </div>
            </div>
            <div class="ui vertical divider">
            </div>
        {% endif %}
        <div style="font-size: 13px; margin-top:0px;" class="column">
            <h3> {% trans 'Personal' %} </h3>
            <div class="label"> {% trans 'Your Email' %} </div><div > {{ user.email }} </div>
            <div class="label"> {% trans 'Your Name' %} </div><div> {{ user.get_full_name }} </div>
            <div class="label"> {% trans 'Your Position' %} </div><div > {{ user.position }}</div>
            <div class="label"> {% trans 'Your Phone' %} </div><div > {% if user.phone %} {{ user.phone }}{% else %}...{% endif %} </div>
            <div class="label"> {% trans 'Your Country' %} </div><div > {% if user.country %} {{ user.country }}{% else %}...{% endif %} </div>
            <div class="label"> {% trans 'Your City' %} </div><div> {% if user.city %} {{ user.city }}{% else %}...{% endif %} </div>
        </div>
    </div>

    </div>

{% endblock %}