{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Update Profile' %} {% endblock %}

{% block content %}
       <h1>{% trans 'Update your profile' %}</h1>
       <div class="ui form segment">
            <form action="{% url 'company_account:profile_update'  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                        <div class="two fields">
                          <div {% if userForm.first_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ userForm.first_name.label_tag }}
                            {{ userForm.first_name }}
                            {% if userForm.first_name.errors %}<div class="ui red pointing prompt label transition visible" style="display: inline-block;">{{ userForm.first_name.errors.0 }}</div>{% endif %}
                          </div>

                          <div {% if userForm.last_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ userForm.last_name.label_tag }}
                            {{ userForm.last_name }}
                            {% if userForm.last_name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ userForm.last_name.errors.0 }}
                                </div>
                            {% endif %}
                          </div>
                        </div>

                        <div {% if userForm.email.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ userForm.email.label_tag }}
                          {{ userForm.email }}
                          {% if userForm.email.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ userForm.email.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if userForm.user_phone.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ userForm.user_phone.label_tag }}
                          {{ userForm.user_phone }}
                          {% if userForm.user_phone.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ userForm.user_phone.errors.0 }}
                                </div>
                          {% endif %}
                        </div>

                        <div {% if userForm.position.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ userForm.position.label_tag }}
                          {{ userForm.position }}
                          {% if userForm.position.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ userForm.position.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
                        {% if user.manager and user.partner %}
                            <div {% if partnerForm.company.errors %} class="field error" {% else %} class="field" {% endif %}>
                              {{ partnerForm.company.label_tag }}
                              {{ partnerForm.company }}
                              {% if partnerForm.company.errors %}
                                    <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                        {{ partnerForm.company.errors.0 }}
                                    </div>
                              {% endif %}
                            </div>
                            <div class="field">
                                {{ partnerForm.logo.label_tag }}
                                {{ partnerForm.logo }}
                              </div>

                            <div {% if partnerForm.email.errors %} class="field error" {% else %} class="field" {% endif %}>
                              {{ partnerForm.partner_email.label_tag }}
                              {{ partnerForm.partner_email }}
                              {% if partnerForm.partner_email.errors %}
                                    <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                        {{ partnerForm.partner_email.errors.0 }}
                                    </div>
                              {% endif %}
                            </div>

                            <div class="two fields">
                              <div class="field">
                                {{ partnerForm.country.label_tag }}
                                {{ partnerForm.country }}
                              </div>

                              <div class="field">
                                {{ partnerForm.city.label_tag }}
                                {{ partnerForm.city }}
                              </div>
                            </div>

                            <div class="two fields">
                              <div class="field">
                                {{ partnerForm.address.label_tag }}
                                {{ partnerForm.address }}
                              </div>
                              <div class="field">
                                {{ partnerForm.zipcode.label_tag }}
                                {{ partnerForm.zipcode }}
                              </div>
                            </div>

                            <div class="two fields">
                              <div class="field">
                                {{ partnerForm.phone.label_tag }}
                                {{ partnerForm.phone }}
                              </div>
                              <div class="field">
                                {{ partnerForm.fax.label_tag }}
                                {{ partnerForm.fax }}
                              </div>
                            </div>

                            <div class="two fields">
                              <div class="field">
                                {{ partnerForm.website.label_tag }}
                                {{ partnerForm.website }}
                              </div>
                              <div class="field">
                                {{ partnerForm.skype.label_tag }}
                                {{ partnerForm.skype }}
                              </div>
                            </div>
                        {% endif %}
                         <button class="ui blue button right">{% trans 'Update' %}</button>

            </form>
       </div>


{% endblock %}