{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Registration' %} {% endblock %}

{% block content %}
<div id="register-form">
   {% if message_sent %}
    <p>{% trans 'Activation link is sent your email address. Please confirm your account and then log in' %}
    {% else %}
              <div class="ui form segment">

       <h1>{% trans 'Become our partner' %}</h1>
            <form autocomplete="off" action="{% url 'company_account:registration'  %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div {% if form.name.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.name.label_tag }}
                  {{ form.name }}
                  {% if form.name.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.name.errors.0 }}
                        </div>
                  {% endif %}
                </div>

                <div {% if form.user_email.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.user_email.label_tag }}
                  {{ form.user_email }}
                  {% if form.user_email.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.user_email.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                <div {% if form.password1.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.password1.label_tag }}
                  {{ form.password1 }}
                  {% if form.password1.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.password1.errors.0 }}
                        </div>
                  {% endif %}
                </div>
                <div {% if form.password2.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.password2.label_tag }}
                  {{ form.password2 }}
                  {% if form.password2.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.password2.errors.0 }}
                        </div>
                  {% endif %}
                </div>


{##}
                <div {% if form.category_id.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.category.label_tag }}
                  {{ form.category }}
                  {% if form.category.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.category.errors.0 }}
                        </div>
                  {% endif %}
                </div>

                <div {% if form.comp_type.errors %} class="field error" {% else %}  class="field" {% endif %}>
                  {{ form.comp_type.label_tag }}
                  {{ form.comp_type }}
                  {% if form.comp_type.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.comp_type.errors.0 }}
                        </div>
                  {% endif %}
                </div>
{##}
{#                <div {% if form.user_position.errors %} class="field error" {% else %} class="field" {% endif %}>#}
{#                  {{ form.user_position.label_tag }}#}
{#                  {{ form.user_position }}#}
{#                  {% if form.user_position.errors %}#}
{#                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">#}
{#                            {{ form.user_position.errors.0 }}#}
{#                        </div>#}
{#                  {% endif %}#}
{#                </div>#}

                <div {% if form.logo.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.logo.label_tag }}
                  {{ form.logo }}
                  {% if form.logo.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.logo.errors.0 }}
                        </div>
                  {% endif %}
                </div>

{#                <div {% if form.partner_email.errors %} class="field error" {% else %} class="field" {% endif %}>#}
{#                  {{ form.partner_email.label_tag }}#}
{#                  {{ form.partner_email }}#}
{#                  {% if form.partner_email.errors %}#}
{#                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">#}
{#                            {{ form.partner_email.errors.0 }}#}
{#                        </div>#}
{#                  {% endif %}#}
{#                </div>#}

                <div class="two fields">
                  <div class="field">
                    {{ form.location.label_tag }}
                    {{ form.location }}
                  </div>


                </div>

                <div class="two fields">
                  <div class="field">
                    {{ form.city.label_tag }}
                    {{ form.city }}
                  </div>

                  <div class="field">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                  </div>
{#                  <div class="field">#}
{#                    {{ form.zipcode.label_tag }}#}
{#                    {{ form.zipcode }}#}
{#                  </div>#}
                </div>

                <div class="two fields">
                  <div class="field">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                  </div>
                  <div class="field">
                    {{ form.fax.label_tag }}
                    {{ form.fax }}
                  </div>
                </div>

                <div class="two fields">
                  <div class="field">
                    {{ form.url.label_tag }}
                    {{ form.url }}
                  </div>
{#                  <div class="field">#}
{#                    {{ form.skype.label_tag }}#}
{#                    {{ form.skype }}#}
{#                  </div>#}
                </div>
               <div class="two fields">
                  <div class="field">
                    {{ form.spoken_languages.label_tag }}
                    {{ form.spoken_languages }}
                  </div>
                  <div class="field">
                    {{ form.workingcountries.label_tag }}
                    {{ form.workingcountries }}
                  </div>

                </div>
                <button class="ui blue button right">{% trans 'Submit' %}</button>

            </form>
       </div>
                

    {% endif %} 
</div>
        <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>
{% endblock %}