{% extends "base.html" %}
{% load i18n %}

    {% block title %}{% trans 'All Sites' %}{% endblock %}

    {% block head.extra %}
{#        <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/news.css" />#}
    {% endblock head.extra %}


{% block content %}
<div id="all-publications">
<h2>{% trans "Sites" %}</h2>
    {% for object in pages.object_list %}

        <div class="publication">
                <h3><a href="{{ object.link }}" target="_blank">{{object.title}}</a></h3>
            <div class="image">
                <a href="{{ object.link }}"target="_blank"> <img src="{{ MEDIA_URL }}{{object.logo}}"  /></a>
            </div>
            <div class="text">
              {{ object.description|striptags|safe }}
            </div>

          </div>

    {% endfor %}

    {% if page_count > 1  %}
        <div class="ui pagination menu">
            {% if pages.has_previous %}
                <a class="icon item" href="?page={{ pages.previous_page_number }}"><i class="icon left arrow"></i></a>
            {% endif %}
            {% for page_num in page_list %}
            {% if page_num == pages.number %}
                <a class="active item" href="?page={{page_num}}">{{page_num}}</a>

            {% elif page_num == -1 %}
                <div class="disabled item">...</div>
            {% else %}
                   <a class="item" href="?page={{page_num}}">{{page_num}}</a>
            {% endif %}
            {% endfor %}

            {% if pages.has_next %}
                <a class="icon item" href="?page={{ pages.next_page_number }}"><i class="icon right arrow"></i></a>
            {% endif %}
          </div>
    {% endif %}
</div>


  <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>

{#    /*Page-in werti*/#}
    <div id="page">

</div>
{% endblock %}