{% extends 'base.html' %}
{% load i18n %}
{% block title %}  Enterprenuership-{{ stages.name }} {% endblock %}
{% block content %}
    <div id="stage">
        <h1>{{ stages.name }}</h1>
        <p>
            {{ stages.description|safe }}
        </p>
        <div class="stage-content">
            <h3>{% trans 'Publications' %}</h3>
{#        {{ objects }}#}
        {% if  publications %}
            <ul>
                {% for publication in publications %}
                   <li> <a href="{% url 'publications:publication_detail'  slug=publication.slug %}">{{ publication.title }}</a></li>
                {% endfor %}
            </ul>
             <br>   <a class="view" href="">{% trans "view all" %}</a>
        {% else %}
            <p>
                {% trans 'There is no information in this section' %}
            </p>
        {% endif %}

        </div>

        <div class="stage-content">
                <h3>{% trans 'Companies' %}</h3>
        {% if companies %}
            <ul>
                {% for company in companies %}
                    <li><a href="{% url 'company:company_view'  slug=company.slug %}"> {{ company.name }}</a></li>
                {% endfor %}
            </ul>
              </br>  <a class="view" href="{% url 'enterpreneurship:stage_company_view' slug=stages.slug %}">{% trans "view all" %}</a>

        {% else %}
                {% trans 'There is no information in this section' %}
        {% endif %}
        </div>

        <div class="stage-content">
                <h3>{% trans 'Useful links' %}</h3>
        {% if sites %}
            <ul>
                {% for site in sites %}
                        <li><a href="{{ site.link }}" target="_blank"> {{ site.title }}</a></li>
                {% endfor %}
            </ul>
            </br>
                <a class="view" href="">{% trans "view all" %}</a>

        {% else %}
                {% trans 'There is no information in this section' %}

        {% endif %}
        </div>

        <div class="stage-content">
            <h3>{% trans 'Library' %}</h3>
            {% if libraries %}
                <ul>
                    {% for library in libraries %}
                        <li><a href="{% url 'library:book_detail' slug=library.slug %}" target="_blank">{{ library.title }}</a></li>
                    {% endfor %}
                </ul>
                 <br/>   <a class="view" href="{% url 'enterpreneurship:stage_library_view' slug=stages.slug%}" >{% trans "view all" %}</a>
            {% else %}
                {% trans 'There is no information in this section' %}
            {% endif %}

        </div>
    </div>
        <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>
{% endblock %}