{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>

<script>
$(document).ready(function() {
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
    <div id="account-company">

<h1>{% trans 'Edit your product' %}</h1>
       <div class="ui form segment">
{#       {{ partnerid }}#}
            <form action="{% url 'company_account:edit_product' id=projectid  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>
{#                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>#}

                          <div {% if projectForm.name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ projectForm.name.label_tag }}
                            {{ projectForm.name }}
                            {% if projectForm.name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                {{ projectForm.name.errors.0 }}
                                </div>{% endif %}
                          </div>



                        <div {% if projectForm.description.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ projectForm.description.label_tag }}
                          {{ projectForm.description }}
                          {% if projectForm.description.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ projectForm.description.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if projectForm.photo.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ projectForm.photo.label_tag }}
                          {{ projectForm.photo }}
                          {% if projectForm.photo.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ projectForm.photo.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
            <div class="two fields">
                  <div {% if projectForm.client.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ projectForm.client.label_tag }}
                          {{ projectForm.client }}
                          {% if projectForm.client.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ projectForm.client.errors.0 }}
                                </div>
                          {% endif %}
              </div>
              <div {% if projectForm.project_type.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ projectForm.project_type.label_tag }}
                          {{ projectForm.project_type }}
                          {% if projectForm.project_type.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ projectForm.project_type.errors.0 }}
                                </div>
                          {% endif %}
              </div>
                  <div {% if projectForm.role.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ projectForm.role.label_tag }}
                          {{ projectForm.role }}
                          {% if projectForm.role.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ projectForm.role.errors.0 }}
                                </div>
                          {% endif %}
              </div>

            </div>
            <div class="two fields">
                <div {% if projectForm.begin_date.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ projectForm.begin_date.label_tag }}
                          {{ projectForm.begin_date }}
                          {% if projectForm.begin_date.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ projectForm.begin_date.errors.0 }}
                                </div>
                          {% endif %}
              </div>
               <div {% if projectForm.end_date.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ projectForm.end_date.label_tag }}
                          {{ projectForm.end_date }}
                          {% if projectForm.end_date.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ projectForm.end_date.errors.0 }}
                                </div>
                          {% endif %}
              </div>
              </div>
            <div class="two fields">
                        <div {% if projectForm.location.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ projectForm.location.label_tag }}
                          {{ projectForm.location }}
                          {% if projectForm.location.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ projectForm.location.errors.0 }}
                                </div>
                          {% endif %}
                        </div>

                      <div {% if projectForm.link.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ projectForm.link.label_tag }}
                          {{ projectForm.link }}
                          {% if projectForm.link.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ projectForm.link.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
           </div>
                         <button class="ui blue button right">{% trans 'Update' %}</button>

            </form>
       </div>

    </div>

{% block right %}
    {% include 'company_account/authorization.html' %}
{% endblock %}

<div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

</div>
{% endblock %}