{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>

<script>
$(document).ready(function() {
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
    <div id="account-company">

<h1>{% trans 'Edit your company' %}</h1>
       <div class="ui form segment">
{#       {{ partnerid }}#}
            <form action="{% url 'company_account:edit_company' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>
{#                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>#}

                <div class="two fields">
                          <div {% if companyForm.name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ companyForm.name.label_tag }}
                            {{ companyForm.name }}
                            {% if companyForm.name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                {{ companyForm.name.errors.0 }}
                                </div>
                            {% endif %}
                          </div>
                <div {% if companyForm.url.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.url.label_tag }}
                          {{ companyForm.url }}
                          {% if companyForm.url.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.url.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                </div>
             <div {% if companyForm.email.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.email.label_tag }}
                          {{ companyForm.email }}
                          {% if companyForm.email.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.email.errors.0 }}
                                </div>
                          {% endif %}
                        </div>

                    <div {% if companyForm.description.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.description.label_tag }}
                          {{ companyForm.description }}
                          {% if companyForm.description.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.description.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
            <div {% if companyForm.location.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.location.label_tag }}
                          {{ companyForm.location }}
                          {% if companyForm.location.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.location.errors.0 }}
                                </div>
                          {% endif %}
                        </div>

            <div class="two fields">
             <div {% if companyForm.city.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.city.label_tag }}
                          {{ companyForm.city }}
                          {% if companyForm.city.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.city.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if companyForm.address.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.address.label_tag }}
                          {{ companyForm.address }}
                          {% if companyForm.address.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.address.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
            </div>
                <div class="two fields">
                        <div {% if companyForm.logo.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.logo.label_tag }}
                          {{ companyForm.logo }}
                          {% if companyForm.logo.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.logo.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                      <div {% if companyForm.file_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.file_name.label_tag }}
                          {{ companyForm.file_name }}
                          {% if companyForm.file_name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.file_name.errors.0 }}
                                </div>
                          {% endif %}
                        </div>

             </div>
             <div class="two fields">
                        <div {% if companyForm.phone.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.phone.label_tag }}
                          {{ companyForm.phone }}
                          {% if companyForm.logo.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.phone.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                      <div {% if companyForm.fax.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.fax.label_tag }}
                          {{ companyForm.fax }}
                          {% if companyForm.fax.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.fax.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
             </div>
            <div class="two fields">
                        <div {% if companyForm.spoken_languages.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.spoken_languages.label_tag }}
                          {{ companyForm.spoken_languages }}
                          {% if companyForm.spoken_languages.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.spoken_languages.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                      <div {% if companyForm.workingcountries.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.workingcountries.label_tag }}
                          {{ companyForm.workingcountries }}
                          {% if companyForm.workingcountries.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.workingcountries.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
             </div>
              <div class="two fields">
                        <div {% if companyForm.comp_type.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.comp_type.label_tag }}
                          {{ companyForm.comp_type }}
                          {% if companyForm.comp_type.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.comp_type.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                      <div {% if companyForm.category.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ companyForm.category.label_tag }}
                          {{ companyForm.category }}
                          {% if companyForm.category.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ companyForm.category.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
             </div>

            <input type="hidden"  id="id_slug"  name="slug" value={{ user.company.slug }}>
            <input type="hidden"   id="id_clicks"  name="clicks" value={{ user.company.clicks }}>
            <input type="hidden"  id="id_status"  name="status" value={{ user.company.status }}>
{#            <input type="hidden"  id="id_category"  name="category" value={{ user.company.category }}>#}
{#            <input type="hidden"  id="id_date"  name="date" value={{ user.company.date|date }}>#}
{#            <input type="hidden"  id="id_last_check_date"  name="last_check_date" value={{ user.company.last_check_date|date }}>#}

                         <button class="ui blue button right">{% trans 'Update' %}</button>

            </form>
       </div>

    </div>

{% block right %}
    {% include 'company_account/authorization.html' %}
    {% endblock %}

<div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

</div>
{% endblock %}