{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>

<script>
$(document).ready(function() {
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
    <div id="account-company">

<h1>{% trans 'Edit your technology' %}</h1>
       <div class="ui form segment">
{#       {{ partnerid }}#}
            <form action="{% url 'company_account:edit_technology' id=technologyid  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>
{#                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>#}

                <div class="two fields">
                          <div {% if technologyForm.equipment.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ technologyForm.equipment.label_tag }}
                            {{ technologyForm.equipment }}
                            {% if technologyForm.equipment.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                {{ technologyForm.equipment.errors.0 }}
                                </div>
                            {% endif %}
                          </div>

                    <div {% if technologyForm.it.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ technologyForm.it.label_tag }}
                          {{ technologyForm.it }}
                          {% if technologyForm.it.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ technologyForm.it.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                </div>
             <div {% if technologyForm.resanddev.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ technologyForm.resanddev.label_tag }}
                          {{ technologyForm.resanddev }}
                          {% if technologyForm.resanddev.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ technologyForm.resanddev.errors.0 }}
                                </div>
                            {% endif %}
                        </div>


            <button class="ui blue button right">{% trans 'Update' %}</button>

            </form>
       </div>

    </div>

{% block right %}
    {% include 'company_account/authorization.html' %}
{% endblock %}

<div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

</div>
{% endblock %}