{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>

    <div id="account-company">

<h1>{% trans 'Edit your product' %}</h1>
       <div class="ui form segment">
{#       {{ partnerid }}#}
            <form action="{% url 'company_account:edit_product' id=productid  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>
{#                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>#}

                          <div {% if productForm.name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ productForm.name.label_tag }}
                            {{ productForm.name }}
                            {% if productForm.name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                {{ productForm.name.errors.0 }}
                                </div>{% endif %}
                          </div>



                        <div {% if productForm.description.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ productForm.description.label_tag }}
                          {{ productForm.description }}
                          {% if productForm.description.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ productForm.description.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if productForm.photo.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ productForm.photo.label_tag }}
                          {{ productForm.photo }}
                          {% if productForm.photo.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ productForm.photo.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
            <div class="two fields">
                    <div {% if productForm.link.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ productForm.link.label_tag }}
                          {{ productForm.link }}
                          {% if productForm.link.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ productForm.link.errors.0 }}
                                </div>
                          {% endif %}
                    </div>

                    <div {% if productForm.date.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ productForm.date.label_tag }}
                          {{ productForm.date }}
                          {% if productForm.date.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ productForm.date.errors.0 }}
                                </div>
                          {% endif %}
                    </div>
            </div>
                         <button class="ui blue button right">{% trans 'Update' %}</button>

            </form>
       </div>

    </div>


{% block right %}
    {% include 'company_account/authorization.html' %}
{% endblock %}


<div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

</div>
{% endblock %}