{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>

<script>
$(document).ready(function() {
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
    <div id="account-company">

<h1>{% trans 'Edit your client' %}</h1>
       <div class="ui form segment">
{#       {{ partnerid }}#}
            <form action="{% url 'company_account:edit_client' id=clientid  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>
{#                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>#}
                <div class="two fields">
                          <div {% if clientForm.client.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ clientForm.client.label_tag }}
                            {{ clientForm.client }}
                            {% if clientForm.client.errors %}<div class="ui red pointing prompt label transition visible" style="display: inline-block;">{{ clientForm.partner.errors.0 }}</div>{% endif %}
                          </div>
                <div {% if clientForm.product_service.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ clientForm.product_service.label_tag }}
                          {{ clientForm.product_service }}
                          {% if clientForm.product_service.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ clientForm.product_service.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                </div>

                        <div {% if clientForm.description.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ clientForm.description.label_tag }}
                          {{ clientForm.description }}
                          {% if clientForm.description.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ clientForm.description.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if clientForm.photo.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ clientForm.photo.label_tag }}
                          {{ clientForm.photo }}
                          {% if clientForm.photo.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ clientForm.photo.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                <div class="two fields">

                      <div {% if clientForm.link.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ clientForm.link.label_tag }}
                          {{ clientForm.link }}
                          {% if clientForm.link.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ clientForm.link.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
                 <div {% if clientForm.since.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ clientForm.since.label_tag }}
                          {{ clientForm.since }}
                          {% if clientForm.since.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ clientForm.since.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                </div>
                         <button class="ui blue button right">{% trans 'Update' %}</button>

            </form>
       </div>

    </div>


{% block right %}
    {% include 'company_account/authorization.html' %}
    {% endblock %}
<div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

</div>
{% endblock %}