{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>

<script>
$(document).ready(function() {
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
    <div id="account-company">

<h1>{% trans 'Edit your certificate' %}</h1>
       <div class="ui form segment">
{#       {{ partnerid }}#}
            <form action="{% url 'company_account:edit_certificate' id=certificateid  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>
{#                <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>#}

                <div class="two fields">
                          <div {% if certificateForm.name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ certificateForm.name.label_tag }}
                            {{ certificateForm.name }}
                            {% if certificateForm.name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                {{ certificateForm.name.errors.0 }}
                                </div>
                            {% endif %}
                          </div>

                    <div {% if certificateForm.certification_company.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ certificateForm.certification_company.label_tag }}
                          {{ certificateForm.certification_company }}
                          {% if certificateForm.certification_company.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ certificateForm.certification_company.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                </div>
             <div {% if certificateForm.receive_year.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ certificateForm.receive_year.label_tag }}
                          {{ certificateForm.receive_year }}
                          {% if certificateForm.receive_year.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ certificateForm.receive_year.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if certificateForm.description.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ certificateForm.description.label_tag }}
                          {{ certificateForm.description }}
                          {% if certificateForm.description.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ certificateForm.description.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                <div class="two fields">
                        <div {% if certificateForm.photo.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ certificateForm.photo.label_tag }}
                          {{ certificateForm.photo }}
                          {% if certificateForm.photo.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ certificateForm.photo.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                      <div {% if certificateForm.filename.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ certificateForm.filename.label_tag }}
                          {{ certificateForm.filename }}
                          {% if certificateForm.filename.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ certificateForm.filename.errors.0 }}
                                </div>
                          {% endif %}
                        </div>

             </div>
                         <button class="ui blue button right">{% trans 'Update' %}</button>

            </form>
       </div>

    </div>

{% block right %}
    {% include 'company_account/authorization.html' %}
    {% endblock %}

<div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

</div>
{% endblock %}