{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div id="c-publications">
        <h2> {% trans 'Category ' %} {{ category }} </h2>
        {% for object in publications %}
            <div class="c-publication">
            <h3><a href="{% url 'publications:publication_detail' slug=object.slug %}">{{object.title}}</a></h3>
            <div class="image">
                <a href="{% url 'publications:publication_detail' slug=object.slug %}"> <img src="{{ MEDIA_URL }}{{object.photo}}" alt="" /></a>
            </div>
            <div class="text">

              {{ object.description|striptags|safe|truncatewords:60 }} <a href="{% url 'publications:publication_detail' slug=object.slug %}"> {% trans 'Read more' %} </a>
            </div>

            </div>

        {% endfor %}
    </div>

        <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>
{% endblock %}