<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% if error %}
        <p style="color: red;">Please submit a search term 20 characters or shorter.</p>
    {% endif %}
</body>
</html>