{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'News' %}&nbsp;&#58;&nbsp;{{ object.title }}{% endblock %}

{% block head.extra %}
{#    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/news.css" />#}
{#    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/lightbox/lightbox.css" />#}
{##}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/jquery-1.11.0.min.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/lightbox.js"></script>#}
{% endblock head.extra %}
   


{% block content %}
    <div id="all-news">
        <div class="news">
            <h2>{{ object.title }}</h2>
        <div class="image">
              <img src="{{ MEDIA_URL }}{{object.image}}" alt="" class="left" />
        </div>
        <div class="text">
           <span>{% trans 'Author' %}&nbsp;&#58;&#58;&nbsp;</span> {{ object.author }}&nbsp;&nbsp;&nbsp;
           <span>{% trans 'Location' %}&nbsp;&#58;&#58;&nbsp;</span> {{ object.location }}&nbsp;&nbsp;&nbsp;
           <span>{% trans 'Published date' %}&nbsp;&#58;&#58;&nbsp;</span> {{ object.pub_date }}&nbsp;&nbsp;&nbsp;
            <br>
            {{ object.content|striptags|safe }}
        </div>

        </div>
    <a href="{% url 'news:news_archive_index' %}"><h4 class="right">{% trans "View all news" %}</h4></a>

    </div>

    <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>
{#<div id="page" class="clearfloat">#}
{#  <div id="top" class="clearfloat">#}
{#  <h2>{{object.title}}</h2>#}
{#    <div id="headline">#}
{#      <div class="meta">#}
{#          {{ object.pub_date }} | <a class="{{ object.title }}" href="{{MEDIA_URL}}{{object.image}}/" data-lightbox="{% trans 'title' %}" data-title="">{{object.title}}</a>#}
{#      </div>#}
{#      <a class="{{ object.title }}" href="{{MEDIA_URL}}{{object.image}}/" data-lightbox="{{object.title}}" data-title="">#}
{#            <img alt="{{ object.title }}" class="middle-img" src="{{ MEDIA_URL }}{{object.image}}"/>#}
{#       </a>#}
{#      <p> {{ object.content|safe }}</p>#}
{#  </div>#}
{#</div>#}
{#</div>#}
{#<a href="{% url 'news:news_archive_index' %}"><h4>{% trans "View all news" %}</h4></a>#}


{% endblock %}