{% extends 'base.html'%}
{% load i18n %}


{% block content %}

{% block up %}
 {% if not 'enterpreneurship' in request.META.HTTP_REFERER  %}

        <script src="js/jquery/jquery-1.8.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/msdropdown/dd.css" />
<script src="{{ STATIC_URL }}js/msdropdown/jquery.dd.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/msdropdown/flags.css" />


{#       <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/semantic.css" />#}

    <script src="{{ STATIC_URL }}js/dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/semantic.js"></script>
    <script src="{{ STATIC_URL }}js/semantic.min.js"></script>
    <script src="{{ STATIC_URL }}js/dropdown.min.js"></script>

{#<script>#}
{#$(document).ready(function () {#}
{#    var filter = $('.filter');#}
{#    $(window).scroll(function () {#}
{#        var scroll = $(this).scrollTop();#}
{#        if (scroll >= 220) {#}
{#            filter.removeClass('filter').addClass('filter-fixed');#}
{#        }#}
{#        else{#}
{#            filter.removeClass('filter-fixed').addClass('filter');#}
{##}
{#        }#}
{#    });#}
{#{);#}
{#</script>#}

    <div  id="filter" class="filter"  role="banner">

{#    <div class="container">#}
     <div class="category">
        <h2>{{ lastcategory }}</h2>
        <h4><a href="{% url 'catalog:category' slug=upcategory.slug %}" >{{ upcategory }}</a> &#187; <a href="{% url 'catalog:downcategory' category=upcategory.slug slug=downcategory.slug %}"> {{ downcategory }}</a></h4>

     </div>
    <div class="type-country">
        <div class="company-type">
            <h4>{% trans 'Select company type' %}</h4>
                {% if type == '0' %}
                    <a>{% trans 'All' %}</a>
                {% else %}
                    <a href="?{{ typeurl }}type=0">{% trans 'All' %}</a>
                {% endif %}
                {% if type == '1' %}
                    <a>{% trans 'Manufactorer' %}</a>
                {% else %}
                    <a href="?{{ typeurl }}type=1">{% trans 'Manufactorer' %}</a>
                {% endif %}
                {% if type == '2' %}
                    <a>{% trans 'Supplier' %}</a>
                {% else %}
                    <a href="?{{ typeurl }}type=2">{% trans 'Supplier' %}</a>
                {% endif %}
                {% if type == '3' %}
                    <a>{% trans 'Service' %}</a>
                {% else %}
                    <a href="?{{ typeurl }}type=3">{% trans 'Service' %}</a>
                {% endif %}
                {% if type == '4' %}
                    <a>{% trans 'Project' %}</a>
                {% else %}
                    <a href="?{{ typeurl }}type=4">{% trans 'Project' %}</a>
                {% endif %}
        </div>

        <div class="country">
                <h4>{% trans 'Select country' %}</h4>
                  <div class="ui fluid search selection dropdown">
                      <input type="hidden" name="country">
                      <i class="dropdown icon"></i>
                      <div class="default text">All countries</div>
                      <div class="menu">
                      <div data-value="all" class="item">ALL</div>

                      {% for location in locations %}

                <div data-value="{{ location.code2 }}" class="item"> <a class="none" href="?{{ countryurl }}&c={{ location.code2 }}"><i class="{{ location.code2 }} flag"></i>{{ location.title }}</a></div>

                       {% endfor %}
                         </div>
                    </div>
                  <script>
                        $('.ui.dropdown').dropdown();
                  </script>

{#        {{ typeurl }} a {{ sorturl }}  c{{ countryurl }}#}

        </div>
    </div>
    <br>

   <div class="sort">
            <a href="?l=0">#</a>
            {% for object in glossary %}
                <a href="?{{ url }}&l={{ object }}">{{ object }}</a>
            {% endfor %}
    </div>

    <div class="sortby">
            <h4>{% trans 'Sort by' %}</h4>
                       {% if s == "1" %}
                    <a class="button">{% trans 'Alphabetic' %}</a>
                {% else %}
                    <a href="?{{ sorturl }}&s=1" class="button">{% trans 'Alphabetic' %}</a>
                {% endif %}
                {% if s == "2" %}
                    <a class="button">{% trans 'Date' %}</a>
                {% else %}
                    <a href="?{{ sorturl }}&s=2" class="button">{% trans 'Date' %}</a>
                {% endif %}
                {% if s == "3" %}
                    <a class="button">{% trans 'Clicks' %}</a>
                {% else %}
                    <a href="?{{ sorturl }}&s=3" class="button">{% trans 'Clicks' %}</a>
                {% endif %}
    </div>
</div>
    {% endif %}

    <div id="right-bar">
        <h2>{% trans 'Materials' %}</h2>
        <ul>
            <li class="publication"><a href="{% url 'publications:category_publications' slug=lastcategory.slug %}">{% trans 'Publications' %}</a></li>
            <li class="sites"><a href="s-">{% trans 'Sites' %}</a></li>
        </ul>
    </div>
    <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>

    {% endblock %}
{% block company %}

{% endblock %}
{% endblock %}