{% extends 'base.html' %}
{% load i18n%}
{% block title %} {{ company.name }} {% endblock %}
{% block content %}
    <script>
    function showHide(shID) {
            var about = $('.about');

	if (document.getElementById(shID)) {
		if (document.getElementById(shID+'-show').style.display != 'none') {
			document.getElementById(shID+'-show').style.display = 'none';
			document.getElementById(shID).style.display = 'block';
            about.hide();
		}
		else {
			document.getElementById(shID+'-show').style.display = 'inline';
			document.getElementById(shID).style.display = 'none';
            about.show();

		}
	}
}
    </script>
<div id="company-detail">
        <h1>{{ company.name }}</h1>
{#{{request.META.HTTP_REFERER}}#}
    {% if 'enterpreneurship' in request.META.HTTP_REFERER  %}
        <a href="{{ request.META.HTTP_REFERER }}" class="right"> {% trans 'Back to Enterprenuership' %}</a>
    {% elif  not  request.META.HTTP_REFERER %}

    {% else %}
        <a href="{{ request.META.HTTP_REFERER  }}" class="right">{% trans 'Back to compnaies list' %}</a><br>
        <a href="{{ request.META.HTTP_REFERER  }}" class="right">{% trans 'Concrete products obtained by centrifugal casting' %}</a>
    {% endif %}
    <div class="main-detail">
         <div class="image">
            <img src="{{ MEDIA_URL }}{{ company.logo }}">
        </div>
        <ul>
            <li class="comp_type">{% for type in company.comp_type.all  %}{{ type.name }} ; {% endfor %}</li>            <li class="address">{{ company.address }}</li>
            <li class="phone">{{ company.phone }}</li>
            <li class="fax">{{ company.fax }}</li>
            <li class="site"><a href="{{ company.url }}" target="_blank">{{ company.url }}</a> </li>
        </ul>

    </div>
    <div class="main-detail">
                <h2>{% trans 'About Company' %}</h2>
        <div class="about">
                {{ company.description|striptags|safe |truncatewords:30 }}
            <a href="#" id="example-show" class="showLink" onclick="showHide('example');return false;">{% trans 'view full text...' %}</a>
        </div>

            <div id="example" class="more">
	        {{ company.description|striptags|safe }}
	        <p><a href="#" id="example-hide" class="hideLink" onclick="showHide('example');return false;">{% trans 'Hide full text'%}</a></p>
</div>
    </div>

    <div class="main-detail">
        <h2>{% trans 'Company Profile' %}</h2>
</div>
    <div class="main-detail">

        <h2>{% trans 'Partners' %}</h2>
            {% for partner in  partners%}
{#                <div class="partners">#}
                <div class="partner">
                       <a href="{{ partner.link }}" target="_blank"> <img src="{{ MEDIA_URL }}{{ partner.photo }}"></a>
                </div>
{#                </div>#}
            {% endfor %}
    </div>
    <div class="main-detail">

        <h2>{% trans 'Clients' %}</h2>
         {% for client in  clients%}
                <div class="client">
                       <a href="{{ client.link }}" target="_blank"> <img src="{{ MEDIA_URL }}{{ client.photo }}"></a>
                </div>
{#                </div>#}
            {% endfor %}
        </div>
    <div class="main-detail">

        <h2>{% trans 'Employees' %}</h2>
     {% for employee in  employees%}
                <div class="employee">
                    <div class="image">
                       <a href=""> <img src="{{ MEDIA_URL }}{{ employee.photo }}"></a>

                    </div>
                    <h3><a class="name" href="{{ object.link }}" target="_blank">{{ employee.fullname }}</a></h3>
                        {{ employee.position }}

                </div>
            {% endfor %}
    </div>
{##}
{#        <h4>{% trans 'Mission' %}</h4>#}
{#                {{ about.mission|striptags|safe }}#}
{#        <h4>{% trans 'History' %}</h4>#}
{#                {{ about.history|striptags|safe }}#}
{#        <h4>{% trans 'Employess' %}</h4>#}
{#                {{ about.history|striptags|safe }}#}
{#        <h4>{% trans 'Partners' %}</h4>#}
{#                {{ about.history|striptags|safe }}#}
{#        <h4>{% trans 'Clients' %}</h4>#}
{#               {{ about.history|striptags|safe }}#}

{#    </div>#}
    <div class="main-detail">
        <h2>{% trans 'Products' %}&nbsp;&amp;&nbsp;{% trans 'Services' %}</h2>
        {% for object in products %}
            <div class="product">
                <div class="image">
                        <img src="{{ MEDIA_URL }}{{ object.photo }}">
                </div>

                <h3><a class="name" href="{{ object.link }}" target="_blank">{{ object.name }}</a></h3>
                {{ object.description|striptags|safe|truncatewords:15 }}

            </div>
        {% endfor %}

    </div>
    <div class="main-detail">
        <h2>{% trans 'Partnership Programs' %}</h2>
        {% for partnership in partnerships %}
            <div class="partnership">
               <h3><a class="name" href="{{ partnership.link }}" target="_blank">{{ partnership.name }}</a></h3>

                    {{ partnership.description|striptags|safe|truncatewords:20}}
                <a class="download" target="_blank" href="{{ MEDIA_URL }}{{ partnership.file_name }}">{% trans 'Download partnership program' %}</a>
            </div>
        {% endfor %}
    </div>

    <div class="main-detail">
        <h2>{% trans 'Projects' %}</h2>
        {% for project in projects %}
            <div class="project">
                <div class="image">
                    <img src="{{ MEDIA_URL }}{{ project.photo }}">
                </div>

                    <h3><a class="name" href="{{ project.link }}" target="_blank">{{ project.name }}</a></h3>

                    {{ project.description|striptags|safe|truncatewords:20}}
            </div>
        {% endfor %}
    </div>
</div>

{% block right %}
    {% include 'company_account/authorization.html' %}
    {% endblock %}
    <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>
{% endblock %}