{% extends 'company/all_company.html' %}
{% load i18n %}


{% block company %}
       <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/semantic.css" />

    <div id="cat-center">
{% for object in company %}
    <li><a href="/company/{{ object.slug }}">{{ object.name }}</a> </li>

{% endfor %}

    </div>


{% endblock %}