{% load   i18n%}
{% get_current_language as LANGUAGE_CODE %}
{% load increment_tags %}

<html>
<head>
{#   <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/semantic.min.css" />#}

   <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui.css" />
{#   <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/dropdown.css" />#}
   <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/semantic.css" />
        <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/news.css" />
        <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/icon.css" />

   <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style.css" />


    <title>{% block title %}{% trans 'Euro Catalog | Construction Directory' %}{% endblock %}</title>
{#    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">#}
    <script src="{{ STATIC_URL }}js/semantic.js"></script>
    <script src="{{ STATIC_URL }}js/dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/semantic.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>#}

{#<script>#}
{#    $(function(){#}
{#  $('.js-popup-link').click(function(e){#}
{#    e.preventDefault()#}
{#    $('#popup').dialog({modal: true}).dialog('open').load(this.href)#}
{#  })#}
{#</script>#}
</head>

<body>

    {% block  header%}
<script>
    function showHide(shID)
    {
            var about = $('.about');

	if (document.getElementById(shID)) {
		if (document.getElementById(shID+'-show').style.display != 'none') {
			document.getElementById(shID+'-show').style.display = 'none';
			document.getElementById(shID).style.display = 'block';
            about.hide();
		}
		else {
			document.getElementById(shID+'-show').style.display = 'inline';
			document.getElementById(shID).style.display = 'none';
            about.show();
		    }
	    }
    }
</script>
<div id="wrapper">
<div id="topline">

    <div class="country-select">
{##}
{#{% for country in locations %}#}
{#            {% if  country.id == x %}#}
{#                            <a href="#" id="example-show" class="showLink" onclick="showHide('example');return false;">{% trans 'view full text...' %}</a>#}
{#	        <p><a href="#" id="example-hide" class="hideLink" onclick="showHide('example');return false;">{% trans 'Hide full text'%}</a></p>#}
{#                <div class="about">#}
{#                    <li><a class="{{ country.code }} active"> {{ country.title }}</a> </li>#}
{#                </div>#}
{#            {% else %}#}
{#                 <div id="example" class="more">#}
{#                    <li><a class="{{ country.code }}" href="session/?location_id={{ country.id }}">{{ country.title|upper }}</a> </li>#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endfor %}#}

    </div>
</div>

<div id ="header">
    <div id="logo"><a href="/{{ LANGUAGE_CODE }}"> <img src="{{ STATIC_URL }}logo.png"></a> </div>
    <div id = "search-form">

    </div>

</div>
    {% endblock %}
{% block content%}
    <div id ='welcome-text'>
        {% trans 'Welcome to the website of the European construction industry directory. Here you will find background information on the construction industry in Europe, as well as the information necessary for the creation, management and business development in Europe. To get started, select one of the directory category, if you are interested in country-specific information, select it from country list below.' %}
    </div>
    <div id ="main-catalog">
        <div class="upper-categories">
         <h2 class="cons"> {% trans 'Construction & Design' %}</h2>
            <ul>
                <li><a href="categories/construction-design/" >{% trans 'Construction design'%}</a></li>
                <li><a href="categories/building-contractors/" >{% trans 'Building contractors'%}</a></li>
                <li><a href="categories/building-construction-&-craftsmen/" >{% trans 'Building construction'%}</a></li>
                <li><a href="categories/capital-construction/" >{% trans 'Capital construction'%}</a></li>
                <li><a href="categories/real-estate-business/" >{% trans 'Real estate business'%}</a></li>
                <li><a href="categories/maintenance-of-buildings/" >{% trans 'Maintenance of building'%}</a></li>
                <li><a href="categories/repair-and-reconstruction-of-buildings/" >{% trans 'Repair and reconstruction'%}</a></li>
                <li><a href="categories/consumer-services-buildings/" >{% trans 'Consumer services buildings'%}</a></li>
                <li><a href="categories/demolition-of-buildings/" >{% trans 'Demolition of buildings'%}</a></li>
            </ul>

        </div>
        <div class="upper-categories">
          <h2 class="mater"> {% trans 'Materials & Equipment' %}</h2>
            <ul>
                <li><a href="categories/raw-materials/" >{% trans 'Raw materials' %}</a></li>
                <li><a href="categories/building-materials/" >{% trans 'Building materials'%}</a></li>
                <li><a href="categories/concrete-constructions/" >{% trans 'Building constructions'%}</a></li>
                <li><a href="categories/machinery-and-equipment-for-construction/" >{% trans 'Machinery & Equipment'%}</a></li>
                <li><a href="categories/power-hand-tools/" >{% trans 'Power & Hand Tools'%}</a></li>
                <li><a href="categories/heating/" >{% trans 'HVAC'%}</a></li>
                <li><a href="categories/water,-sewer,-sanitary-equipment/" >{% trans 'Water,sewer,sanitary,equipment'%}</a></li>
                <li><a href="categories/electrical-engineering/" >{% trans 'Electrical equipment'%}</a></li>
                <li><a href="categories/automation-and-instrumentation/" >{% trans 'Automation equipment'%}</a></li>

            </ul>

        </div>
        <div class="upper-categories">
           <h2 class="busi">  {% trans 'Business & Services' %}</h2>
          <ul>
                <li><a href="categories/transportation/" >{% trans 'Transportation' %}</a></li>
                <li><a href="categories/custom-services/" >{% trans 'Custom services' %}</a></li>
                <li><a href="categories/financial-services/" >{% trans 'Financial services' %}</a></li>
                <li><a href="categories/legal-support/" >{% trans 'Legal support' %}</a></li>
                <li><a href="categories/marketing-and-promotion/" >{% trans 'Marketing and promotion' %}</a></li>
                <li><a href="categories/it-consulting/" >{% trans 'IT Consulting' %}</a></li>
                <li><a href="categories/insurance-companies/" >{% trans 'Insurance' %}</a></li>
          </ul>

        </div>
            <a  class="span" href="categories/">  {% trans 'view all categories...' %}</a>

    </div>
    <div id="enterpreneurship">
               <h2> {% trans 'Enterpreneurship' %}</h2>

        <ul>
            <li class="region"><a href="enterpreneurship/region-choose">{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="enterpreneurship/representative-office" >{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>
    <div id="flag-region-select">
    <ul>
        {% for country in locations %}
            {% if  country.id == x %}

                <li><a class="{{ country.code }} active"> {{ country.code }}</a> </li>
            {% else %}
                <li><a class="{{ country.code }}" href="session/?location_id={{ country.id }}">{{ country.code|upper }}</a> </li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
    <div id="main-news">
        <h2>{% trans 'Construction industry news' %}</h2>
        {% for object in news %}
        <div class="news">
            <div class="date">
                {{ object.pub_date }}
            </div>
            <div class="title">

                <a href="{% url 'news:news_detail' slug=object.slug %}">{{ object.title }}</a>
{#                <a href="">{{ object.title }}</a>#}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="main-exhibitions">
        <h2>{% trans 'Upcoming exhibitions' %}</h2>
            {% for object in exhibitions %}
        <div class="exhibition">
            <div class="image">
               <a href="{% url 'exhibitions:exhibition_detail' slug=object.slug %}"> <img src="{{ MEDIA_URL }}{{ object.photo }}"/></a>
            </div>
            <div class="name">
                <a href="{% url 'exhibitions:exhibition_detail' slug=object.slug %}">{{ object.name }}</a>
            </div>
            <div class="text">
                    {{ object.startdate|date:"j-M" }} - {{ object.enddate|date:"j-M" }} <br/>
                    {{ object.city }} , {{ object.location.title }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="main-publications">
        <h2>{% trans 'Latest publications' %}</h2>
{#            {% for object in publications %}#}
            {% for object in publications %}
        <div class="publication">
            <div class="image">
                <a href="{% url 'publications:publication_detail' slug=object.slug %}"> <img src="{{ MEDIA_URL }}{{ object.photo }}"/></a>
{#                <img src="{{ MEDIA_URL }}{{ object.photo }}"/>#}

            </div>
            <div class="name">
                <a href="{% url 'publications:publication_detail' slug=object.slug %}" >{{ object.title }}</a>
                   <br> {{ object.senddate }}
{#                <a href="" >{{ object.title }}</a>#}
            </div>
{#            {{ object.name }}#}
{#            {{ object.startdate|date:"D d M" }} a#}


{#            {{ object.title }}#}
        </div>
        {% endfor %}
    </div>

    <div id="main-enterpreneurship">
    <h2>{% trans 'Enterpreneurship' %}</h2>
    {% for key,value in stages.iteritems %}

        <div class="block-content">
            {% for key1,value1 in stage_dic.iteritems %}
                {% if key == key1 %}
             <h3 class="{{ value1.0 }}">{{ value1.1 }}</h3>
                {% endif %}
            {% endfor %}
        <ul>
            {% for dict2 in value %}
                    <li><a class="{{ dict2|hash:'type' }}" href="{{ dict2|hash:'type' }}/{{ dict2|hash:'link' }}">{{ dict2|hash:'title' }}</a></li>
            {% endfor %}
        </ul>


        </div>
    {% endfor %}
    </div>

    <div id="top-companies">
        <h2>{% trans 'Top Companies' %}</h2>
        <ul>
         {% for object in topcompanies %}
            <li><a class="red" href="{% url 'company:company_view' slug=object.slug %}">{{ object.name }}</a> </li>
        {% endfor %}

        </ul>
    </div>
    <div id="new-companies">
            <h2>{% trans 'New Companies' %}</h2>
        {% for object in newcompanies %}
            <li><a class="orange" href="{% url 'company:company_view' slug=object.slug %}">{{ object.name }}</a> </li>
        {% endfor %}
    </div>
    <div id="statistics">
            <h2>{% trans 'Statistics' %}</h2>
        <ul>
            <li class="company">{% trans 'Companies:' %} <span>{{ company_count }}</span></li>
            <li class="categories">{% trans 'Categories:' %}<span>{{ categories_count }}</span></li>
            <li class="info">{% trans 'Info materials:' %}<span>{{ publications_count }}</span></li>
        </ul>
        <p>
            {% blocktrans %}
            If you want add your company to our directory, just <a href="account/registration/"><strong>register</strong></a> 
            and send information about your company. You can manage all information about your company.
            {% endblocktrans %}
        </p>

    </div>
    <div id="authorization">
            {% if not user.is_authenticated %}

            <h2>{% trans 'Authorization' %}</h2>
                <div class="ui form segment">
                <form action="{% url 'company_account:user_login' %}" method="post">
                    {% csrf_token %}
                    {% if req_url %}
                        <input type="hidden" name="next" value="{{ req_url }}" />
                    {% endif %}
                    <div {% if form.mission.username %} class="field error" {% else %} class="field" {% endif %}>
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {% if form.username.errors %}
{#                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">#}
                                {{ form.username.errors.0 }}
{#                                </div>#}
                            {% endif %}
                    </div>


                    <div {% if form.password.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.password.label_tag }}
{#                          <div class="ui left labeled icon input">#}
                              {{ form.password }}
{#                              <i class="lock icon"></i>#}
{#                                  <div class="ui corner label">#}
{#                                    <i class="asterisk icon"></i>#}
{#                                  </div>#}
{#                          </div>#}
                          {% if form.password.errors %}
{#                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;width:295px;">#}
                                    {{ form.password.errors.0 }}
{#                                </div>#}
                          {% endif %}
                    </div>
                    <button class="large ui orange button center" >{% trans 'Sign in' %}</button>
                </form>
                </div>
    {% else %}
             <h3>{% trans 'Welcome' %} <br> {{ user.company.name }}</h3>
{#                <a class="ui green icon button" href="{% url 'company_account:user_logout' %}">{% trans 'Log out' %}</a>#}
                <a class="large ui orange button center" href="{% url 'company_account:company_page' %}">{% trans 'Account' %}</a><br><br>
                <a class="large ui orange button center" href="{% url 'company_account:user_logout' %}">{% trans 'Log out' %}</a>

    {% endif %}
    </div>

{% endblock content %}
<div id="footer">

{% block footer %}
    <div class="column">
        <h2>{% trans 'Construction & Design' %}</h2>
            <ul>
                <li><a href="/categories/construction-design/" >{% trans 'Construction design'%}</a></li>
                <li><a href="/categories/building-contractors/" >{% trans 'Building contractors'%}</a></li>
                <li><a href="/categories/building-construction/" >{% trans 'Building construction'%}</a></li>
                <li><a href="/categories/capital-construction/" >{% trans 'Capital construction'%}</a></li>
                <li><a href="/categories/real-estate-business/" >{% trans 'Real estate business'%}</a></li>
                <li><a href="/categories/maintenance-building/" >{% trans 'Maintenance of building'%}</a></li>
                <li><a href="/categories/repair-and-reconstruction/" >{% trans 'Repair and reconstruction'%}</a></li>
                <li><a href="/categories/consumer-services-buildings/" >{% trans 'Consumer services buildings'%}</a></li>
                <li><a href="/categories/demolition-buildings/" >{% trans 'Demolition of buildings'%}</a></li>
            </ul>
    </div>

    <div class="column">
        <h2>{% trans 'Materials & Equipment' %}</h2>
            <ul>
                 <li><a href="/categories/raw-materials/" >{% trans 'Raw materials' %}</a></li>
                <li><a href="/categories/building-materials/" >{% trans 'Building materials'%}</a></li>
                <li><a href="/categories/building-constructions/" >{% trans 'Building constructions'%}</a></li>
                <li><a href="/categories/machinery-equipment/" >{% trans 'Machinery & Equipment'%}</a></li>
                <li><a href="/categories/power-hand-tools/" >{% trans 'Power & Hand Tools'%}</a></li>
                <li><a href="/categories/hvac/" >{% trans 'HVAC'%}</a></li>
                <li><a href="/categories/water-sewer-sanitary-equipment/" >{% trans 'Water,sewer,sanitary,equipment'%}</a></li>
                <li><a href="/categories/electrical-equipment/" >{% trans 'Electrical equipment'%}</a></li>
                <li><a href="/categories/automation-equipment/" >{% trans 'Automation equipment'%}</a></li>
            </ul>
    </div>

    <div class="column">
        <h2>{% trans 'Business Services' %}</h2>

           <ul>
               <li><a href="/categories/transportation/" >{% trans 'Transportation' %}</a></li>
                <li><a href="/categories/custom-services/" >{% trans 'Custom services' %}</a></li>
                <li><a href="/categories/financial-services/" >{% trans 'Financial services' %}</a></li>
                <li><a href="/categories/legal-support/" >{% trans 'Legal support' %}</a></li>
                <li><a href="/categories/marketing-and-promotion/" >{% trans 'Marketing and promotion' %}</a></li>
                <li><a href="/categories/it-consulting/" >{% trans 'IT Consulting' %}</a></li>
                <li><a href="/categories/insurance/" >{% trans 'Insurance' %}</a></li>

          </ul>
    </div>

    <div class="column">
        <h2>{% trans 'Enterpreneurship' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose">{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation">{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office" >{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>
    </div>

    <div class="column">
        <h2>{% trans 'Useful Information' %}</h2>
    <ul>
        <li><a href="/{{ LANGUAGE_CODE }}/news">{% trans 'News' %}</a> </li>
        <li><a href="/{{ LANGUAGE_CODE }}/publications">{% trans 'Publications' %}</a> </li>
        <li><a href="/{{ LANGUAGE_CODE }}/sites">{% trans 'Sites' %}</a> </li>
        <li><a href="/{{ LANGUAGE_CODE }}/exhibitions">{% trans 'Exhibitions' %}</a> </li>
    </ul>
    </div>
    <div class="column">
        <h2>{% trans 'About' %}</h2>
    <ul>
        <li><a href="">{% trans 'About project' %}</a> </li>
        <li><a href="">{% trans 'Privacy Policy' %}</a> </li>
        <li><a href="">{% trans 'Terms of Use' %}</a> </li>
        <li><a href="">{% trans 'Feedback' %}</a> </li>
    </ul>
    </div>
    <span>{% trans 'All rights reserved.Copyright 2014 BUILDING.EU' %}</span>
{% endblock %}
</div>
</div>

</body>
</html>