 <div id="main-map">
        <h2>{% trans 'Search on the map' %}</h2>

    </div>
    <div id="problems">
        <h2>{% trans 'Problems' %}</h2>
        {% for object in news %}
            <div class="problem">
                <div class="image">
                                <a href="" ><img src="{{ MEDIA_URL }}{{ object.photo }}"/></a>
{#                <img src="{{ MEDIA_URL }}{{ object.photo }}"/>#}

                 </div>
                <div class="name">
                    <a href="" >{{ object.title }}</a>
                </div>
                </a>
             </div>
        {% endfor %}

    </div>
