{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ object.name }}{% endblock %}

{% block head.extra %}
{#    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/news.css" />#}
{#    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/lightbox/lightbox.css" />#}
{##}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/jquery-1.11.0.min.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/lightbox.js"></script>#}
{% endblock head.extra %}
   


{% block content %}

    <div id="exhibition-details">

        <div class="exhibition-detail">
                    <a href="{% url 'exhibitions:exhibitions_archive_index' %}"><h4 class="right">{% trans "View all exhibitions" %}</h4></a>

            <h2>{{ object.name }}</h2>
        <div class="image">
              <img src="{{ MEDIA_URL }}{{object.photo}}" alt="" class="left" />
        </div>
        <div class="text">
           <span> {% trans "Date of event" %}&#58;&nbsp;</span>{{ object.startdate }} — {{ object.enddate }} <br>

{#           <span>{% trans 'Author' %}&nbsp;&#58;&#58;&nbsp;</span> {{ object.author }}&nbsp;&nbsp;&nbsp;#}
{#           <span>{% trans 'Location' %}&nbsp;&#58;&#58;&nbsp;</span> {{ object.location }}&nbsp;&nbsp;&nbsp;#}
{#           <span>{% trans 'Send date' %}&nbsp;&#58;&#58;&nbsp;</span> {{ object.senddate }}&nbsp;&nbsp;&nbsp;#}
{#            <br>#}
            {{ object.description|striptags|safe }}
        </div>
        </div>
        <div class="exhibition-detail">
                <h2>{% trans 'Location' %}</h2>
               <p><span>{% trans 'Country' %}&nbsp;&#58;&nbsp;</span>{{ object.location }}</p>
               <p><span>{% trans 'City' %}&nbsp;&#58;&nbsp;</span>{{ object.city }}</p>
               <p><span>{% trans 'Address' %}&nbsp;&#58;&nbsp;</span>{{ object.address }}</p>
               <p><span>{% trans 'Building' %}&nbsp;&#58;&nbsp;</span>{{ object.building }}</p>

            <h2>{% trans 'Contact' %}</h2>
               <p><span>{% trans 'Organizer' %}&nbsp;&#58;&nbsp;</span>{{ object.organizer }}</p>
               <p><span>{% trans 'Work Mode' %}&nbsp;&#58;&nbsp;</span>{{ object.workmode }}</p>

               <p><span>{% trans 'Contact Person' %}&nbsp;&#58;&nbsp;</span>{{ object.fullname }}</p>
               <p><span>{% trans 'Phone' %}&nbsp;&#58;&nbsp;</span>{{ object.phone }}</p>
               <p><span>{% trans 'Fax' %}&nbsp;&#58;&nbsp;</span>{{ object.fax }}</p>
               <p><span>{% trans 'Email' %}&nbsp;&#58;&nbsp;</span>{{ object.email }}</p>
               <p><span>{% trans 'Offical Web Site' %}&nbsp;&#58;&nbsp;</span><a href="{{ object.site }}" target="_blank">{{ object.site }}</a></p>


        </div>
    </div>


        <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>

{% endblock %}