{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ book.title }}{% endblock %}

{% block head.extra %}
{#    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/news.css" />#}
{#    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/lightbox/lightbox.css" />#}
{##}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/jquery-1.11.0.min.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/lightbox.js"></script>#}
{% endblock head.extra %}
   


{% block content %}

    <div id="c-publications">
        <div class="c-publication">
            <h2>{{ book.title }}</h2>
        <div class="image">
              <img src="{{ MEDIA_URL }}{{book.image}}" alt="" class="left" />
        </div>
        <div class="text">
           <span>{% trans 'Author' %}&nbsp;&#58;&#58;&nbsp;</span> {{ book.author }}&nbsp;&nbsp;&nbsp;
           <span>{% trans 'Publisher' %}&nbsp;&#58;&#58;&nbsp;</span> {{ book.pubhouse }}&nbsp;&nbsp;&nbsp;<br>
           <span>{% trans 'Page Count' %}&nbsp;&#58;&#58;&nbsp;</span> {{ book.page_count }}&nbsp;&nbsp;&nbsp;
           <span>{% trans 'Book Cover' %}&nbsp;&#58;&#58;&nbsp;</span> {{ book.bookcover }}&nbsp;&nbsp;&nbsp;
           <a class="right" target="_blank" href="{{ book.bookurl }}">{% trans 'Look more...' %} &#187;&#187;&#187;</a>&nbsp;&nbsp;&nbsp;<br>
            <br>
            {{ book.description|striptags|safe|truncatewords:500 }}
        </div>

        </div>

    </div>


    <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>

{% endblock %}