{% extends 'base.html' %}

{% load i18n %}

{% block content %}
{#    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />#}
{#<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>#}
{#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>#}
{#<script type="text/javascript" src="/sitestatic/admin/js/admin/DateTimeShortcuts.js/"></script>#}
{#    <script>#}
{#    $(function(){#}
{#                $("#id_since").datepicker();#}
{#            }#}
{#    );#}
{#    </script>#}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>

<script>
$(document).ready(function() {
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>

   <div id="account-company">

    <div class="ui form segment">
       <h3>{% trans 'Add new Technology' %}</h3>

            <form action="{% url 'company_account:add_technology'  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <input type="hidden"  id="id_company"  name="company" value={{ user.company.id }}>

                        <div class="two fields">

                          <div {% if form.equipment.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ form.equipment.label_tag }}
                            {{ form.equipment }}
                            {% if form.equipment.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                {{ form.equipment.errors.0 }}
                                </div>{% endif %}
                          </div>

                          <div {% if form.it.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ form.it.label_tag }}
                            {{ form.it }}
                            {% if form.it.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.it.errors.0 }}
                                </div>
                            {% endif %}
                          </div>
                        </div>

                    <div {% if form.resanddev.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.resanddev.label_tag }}
                          {{ form.resanddev }}
                          {% if form.resanddev.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.resanddev.errors.0 }}
                                </div>
                            {% endif %}
                    </div>

                    <button class="ui orange button  right">{% trans 'Submit' %}</button>

            </form>
       </div>
       </div>
{% block right %}
    {% include 'company_account/authorization.html' %}
{% endblock %}
<div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

</div>
{% endblock %}