{% extends 'base.html' %}
{% load i18n %}
<script>

$("#dialog").dialog({
    modal: true,
    autoOpen: false
});
$("a.delete").click(function(e) {
    e.preventDefault();
    var id = $(this).attr('id');
    $("#dialog").dialog('option', 'buttons', {
        "Delete": function() {
            $.post({
                url: {% url myapp.views.delete %},
                data: {'id': id},
                success: function() {
{#                   # whatever you like, some fancy effect that removes the object#}
                }
            });
            $(this).dialog("close");
        },
        "Cancel": function() {
            $(this).dialog("close");
        }
    });
    $("#dialog").dialog("open");
    return false;
});
</script>


{% block content %}



    <script>
    $(document).ready(function () {
{#    $(".ui-dialog-titlebar" ).hide();#}

    $(".test").click(function () {
{#        var myPos = [ $(window).width() / 100 , 50 ];#}

        $("#thedialog").attr('src', $(this).attr("href"));

        $("#somediv").dialog({
{#            dialogClass: 'fixed-dialog',#}
            width: 770,
            height: 450,
            position: ['center', 'top','left'],
            closeOnEscape: true,

            modal: true


        });
{#        .css({#}
{#             "position": "fixed",#}
{#             "top": "50px",#}
{#             "left": "50px"#}
{#        });#}
{#      $(".ui-dialog-titlebar").hide();#}
        return false;
    });

});

    </script>


    <div id="categories">

    {% for category in categories %}
        {% if not category.parent %}

                <div class="category">

            <h3>{{ category.title }}</h3>
                <div class="downcategory">
                 <ul>
                    {% for object in categories %}
{#                                <a href="dialog/32" class="test" >TestCategory</a><br>#}

                        {% if object.parent_id == category.id %}
{#                           <li> {{ object.title }}</li>#}
                            <li>
                                <a href="dialog/{{ object.id }}" class="test" >{{ object.title }}</a><br>

                                <div id="somediv"  style="display:none;">
                                    <iframe id="thedialog" width="500" height="300"></iframe>
                                </div>


                            </li>
                        {% endif %}
                    {% endfor %}
                 </ul>
            </div>

            </div>
        {% endif %}
    {% endfor %}

    </div>


       <div id="right-bar">
        <h2>{% trans 'Enterprenuership' %}</h2>
        <ul>
            <li class="region"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/region-choose" >{% trans 'Region choose' %}</a></li>
            <li class="formation"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-formation" >{% trans 'Business Formation' %}</a></li>
            <li class="investments"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/business-investments" >{% trans 'Business Investments' %}</a></li>
            <li class="market"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/market-research" >{% trans 'Market Research' %}</a></li>
            <li class="regional"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/regional-promotion" >{% trans 'Regional Promotion' %}</a></li>
            <li class="partners"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/partners-search" >{% trans 'Partners search' %}</a></li>
            <li class="representative"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/representative-office">{% trans 'Representative Office' %}</a></li>
            <li class="ready"><a href="/{{ LANGUAGE_CODE }}/enterpreneurship/ready-businesses" >{% trans 'Ready Businesses' %}</a></li>
        </ul>

    </div>
{% endblock %}