{% extends 'company/all_company.html' %}
{% load i18n %}
{% load increment_tags %}
{% block title %}   {% trans 'Companies' %}        {% endblock %}

{% block company %}
    <div id="cat-company">
    {% if companies %}

            {% with count=1 %}
        {% for company in companies %}

            {% if count|divisibleby:2 %}
                <div class="companyr">

            {% else %}
                <div class="companyl">

            {% endif %}


            <h3><a  href="{% url 'company:company_view' slug=company.slug %}"> {{ company.name }}</a></h3>
                <div class="image">
                    <img src="{{ MEDIA_URL }}{{ company.logo }}">
                </div>
{#            <a href="/{{ current_language }}/{{ company.slug }}">{{ company.name }}</a>#}
            <div class="comp-detail">
                <ul>
                   <li class="comp_type">
                   {% for cmp in company.comp_type.all %}
                   {{ cmp.name }}, 
                   {% endfor %}
                   </li>
                   <li class="location"> {{ company.location_id }}</li>
                   <li class="www"> <a target="_blank" href="{{ company.url }}">{{ company.url }}</a></li>
                </ul>
            </div>
{#            <div class="text">#}
               <p>{{ company.description|striptags|safe |truncatewords:30 }} <a href="{% url 'company:company_view' slug=company.slug %}"> {% trans 'read more' %} </a></p>

{#            </div>#}

                 {% increment count %}
        </div>
        {% endfor %}
     	{% endwith %}
{% else %}
        <h3>
        {% trans 'There is no any company in this category' %}
        </h3>
    {% endif %}

        </div>

{% endblock %}