{% load i18n %}
<head>
       <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style.css" />

</head>
<title>{% trans 'Select one or more categories' %}</title>
<div id="popup">
<h2>{% trans 'Select category' %}</h2>
{#<form  target="_parent" action="{% url 'catalog:popcomp' %}" METHOD="POST">#}
{#{% csrf_token %}#}
{% for object in categories %}
    <li>
{#    <input type="checkbox" name="categories" value="{{ object.id }}">#}
    <a target="_parent" href="{% url 'catalog:lastcategory' category=cat1 slugk=cat2 slugl=object.slug %}">{{ object.title }}</a>
    </li>
{% endfor %}

{#            <button  class="button" >{% trans 'Search' %} </button>#}

{#</form>#}
{#<li><input type="checkbox"><a target="_parent" href="/en/categories/construction-design/architects-town-planning-town-planners/">sddasdasdasads</a></li>#}
{#<li><input type="checkbox">sddasdasdasads</li>#}



</div>